{% extends 'clientside/clientBase.html' %}
{% block title %}
<title>Appoinments - Acupuncture and Herbal Medicine with Dr. Lee</title>
{% endblock %}
{% block navcontent %}
<nav class="navbar navbar-expand-lg navbar-light">
	<div class="container-fluid">
	   <a class="navbar-brand" href="home.html">
	   <img src="../static/assets/images/logo.png" alt="">
	   </a>
	   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	   <span class="navbar-toggler-icon"></span>
	   </button>
	   <div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
			 <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/users/home2">Home</a>
			 </li>
			 <li class="nav">
				<a class="nav-link" href="about">About</a>
			 </li>
			 <li class="nav-item">
				<a class="nav-link" href="product">Shop</a>
			 </li>
			 <li class="nav-item">
				<a class="nav-link" href="contact">Contact</a>
			 </li>
			 <!-- PROFILE NAVBAR -->
			 <li class="list-inline-item dropdown notif show">
				<a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="true">
				<img src="assets/images/avatars/admin.png" alt="Profile image" class="avatar-rounded">
				</a>
				<div class="dropdown-menu dropdown-menu-right profile-dropdown " x-placement="bottom-end" style="position: absolute; transform: translate3d(-108px, 50px, 0px); top: 0px; left: 0px; will-change: transform;">
				   <!-- item-->
				   <div class="dropdown-item noti-title">
					  {%for datas in data %}
					  <h5 class="text-overflow"><small>Hello,{{data.user_username}}</small> </h5>
					  {%endfor %}
				   </div>
				   <!-- item-->
				   <a href="/users/profile" class="dropdown-item notify-item">
				   <i class="fa fa-user"></i> <span>Profile</span>
				   </a>
				   <!-- item-->
				   <a href="/users/appointments" class="dropdown-item notify-item">
				   <i class="fa fa-user"></i> <span>My Appointments</span>
				   </a>
				   <!-- item-->
				   <a href="/users/logout" class="dropdown-item notify-item">
				   <i class="fa fa-power-off"></i> <span>Logout</span>
				   </a>
				</div>
			 </li>
		  </ul>
	   </div>
	</div>
 </nav>
{% endblock %}

{% block content%}
<section>
    <div class="container">
      <div class="row mt-lg-5">
          <div class="col-lg-12 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
              <div class="card border-0 shadow overflow-hidden">
                  <ul class="nav nav-pills nav-justified flex-column flex-sm-row rounded-0 shadow overflow-hidden bg-light mb-0" id="pills-tab" role="tablist">
                      <li class="nav-item" role="presentation">
                          <a class="nav-link rounded-0 active" id="overview-tab" data-bs-toggle="pill" href="#pills-overview" role="tab" aria-controls="pills-overview" aria-selected="true">
                              <div class="text-center pt-1 pb-1">
                                  <h5 class="title fw-normal mb-0">Past Appointments</h5>
                              </div>
                          </a><!--end nav link-->
                      </li><!--end nav item-->
                      
                      <li class="nav-item" role="presentation">
                          <a class="nav-link rounded-0" id="experience-tab" data-bs-toggle="pill" href="#pills-experience" role="tab" aria-controls="pills-experience" aria-selected="false" tabindex="-1">
                              <div class="text-center pt-1 pb-1">
                                  <h5 class="title fw-normal mb-0">Upcoming Appointments</h5>
                              </div>
                          </a><!--end nav link-->
                      </li><!--end nav item-->
                  </ul>
  
                  <div class="tab-content p-4" id="pills-tabContent">
                      <div class="tab-pane fade active show" id="pills-overview" role="tabpanel" aria-labelledby="overview-tab">
                          
                            <div class="card">
                              <div class="card-header" style=" background-color:  #4169e1; color: white">
                                <h5>My Appointments</h5>
                              </div>
                              <div class="card-body" style="overflow-x: auto;">
                                <table id="pastAppointments" class="table table-responsive table-hover" style="width: 100%;">
                                  <thead>
                                    <tr>
                                      <th>Appoinment ID</th>
                                      <th>Date</th>
                                      <th>Start-End<em class="text-muted mb-0  small"> (Time) </em> </th>
                                      <th>Invoice</th>
                                      <th>Action</th>
                                      
                                    </tr>
                                  </thead>
                                  <tbody>
									{% for appointments in appointment %}
										{% if appointments.ap_clientID == appointment[-1] and appointments.ap_status == 'Paid' %}
										<tr>
											<td>{{ appointments.ap_number }}</td>
											<td>{{ appointments.ap_date }}</td>
											<td>{{ appointments.ap_startTime }} - {{ appointments.ap_endTime }}</td>
											<td>
												<a type="button" class="btn btn-sm btn-outline-warning rounded-circle" data-toggle="modal" data-target="#invoice{{appointments.ap_id}}"><i class="uil uil-file align-text-bottom text-primary h5 "></i></a>
											</td>
											<td>
												<a type="button" class="btn btn-sm btn-outline-success rounded-circle" data-toggle="modal" data-target="#viewAppointment{{appointments.ap_id}}"><i class="uil uil-eye align-text-bottom text-primary h5 "></i></a>
											</td>
										</tr>
										{% endif %}
                  					{% endfor %}
                                  </tbody>
                                </table>
                              </div>
                            </div>
                       
                          
                      </div>
  
                      <div class="tab-pane fade" id="pills-experience" role="tabpanel" aria-labelledby="experience-tab">
                       
                          <div class="card">
                            <div class="card-header" style=" background-color:  #4169e1; color: white">
                              <h5>My Appointments</h5>
                            </div>
                            <div class="card-body" style="overflow-x: auto;">
                              <table id="upcomingAppointments" class="table table-responsive table-hover" style="width: 100%;">
                                <thead>
                                  <tr>
                                    <th>Appoinment ID</th>
                                    <th>Date</th>
                                    <th>Start-End<em class="text-muted mb-0  small"> (Time) </em> </th>
                                    <th>Invoice</th>
                                    <th>Action</th>
                                  </tr>
                                </thead>
                                <tbody>
								  {% for appointments in appointment %}
									{% if appointments.ap_clientID == appointment[-1] and appointments.ap_status == 'Unpaid' %}
									<tr>
										<td>{{ appointments.ap_number }}</td>
										<td>{{ appointments.ap_date }}</td>
										<td>{{ appointments.ap_startTime }} - {{ appointments.ap_endTime }}</td>
										<td>
											<a type="button" class="btn btn-sm btn-outline-warning rounded-circle" data-toggle="modal" data-target="#invoice{{appointments.ap_id}}"><i class="uil uil-file align-text-bottom text-primary h5 "></i></a>
										</td>
										<td>
											<a type="button" class="btn btn-sm btn-outline-success rounded-circle" data-toggle="modal" data-target="#viewAppointment{{appointments.ap_id}}"><i class="uil uil-eye align-text-bottom text-primary h5 "></i></a>
											<a type="button" class="btn btn-sm btn-outline-danger rounded-circle" data-toggle="modal" data-target="#cancelAppointment{{appointments.ap_id}}"><i class="uil uil-times-circle align-text-bottom text-primary h5"></i></a>
										</td>
									</tr>
									{% endif %}
								  {% endfor %}
                                </tbody>
                              </table>
                            </div>
                         
                      </div>
                  </div>                     
              </div>
          </div><!--end col-->
      </div><!--end row-->
  </div>

  </section>
  <!-- INVOICE MODAL  -->
{% for appointments in appointment %}
	{% if appointments.ap_clientID == appointment[-1] %}
  <div class="modal fade" id="invoice{{appointments.ap_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
	  <div class="modal-content">
	
		<div class="modal-body">
		  <div class="card bg-white border-0 rounded px-4 py-5" id="invoice">
			<div class="row mb-4">
			  <div class="col-lg-8 col-md-6">
				<img src="../static/assets/images/logo.png" alt="">
				<h6 class="mt-4 pt-2">Address :</h6>
				<small class="text-muted mb-0">
				  24k Mansion Unit 5, 45 Timog Ave. Cor. Sct. <br />
				  Tuazon St., Quezon City
				</small>
			  </div>
			  <!--end col-->
		  
			  <div class="col-lg-4 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
				<ul class="list-unstyled">
				  <li class="d-flex">
					<small class="mb-0 text-muted">Invoice no. : </small>
					<small class="mb-0 text-dark">&nbsp;&nbsp;#+639088907608</small>
				  </li>
				  <li class="d-flex mt-2">
					<small class="mb-0 text-muted">Email : </small>
					<small class="mb-0">&nbsp;&nbsp;<a href="mailto:contact@example.com" class="text-dark">faithhopeloveclinic@gmail.com</a></small>
				  </li>
				  <li class="d-flex mt-2">
					<small class="mb-0 text-muted">Phone : </small>
					<small class="mb-0">&nbsp;&nbsp;<a href="tel:+152534-468-854" class="text-dark">(+63) 9088-890-7608</a></small>
				  </li>
				  <li class="d-flex mt-2">
					<small class="mb-0 text-muted">Website : </small>
					<small class="mb-0">&nbsp;&nbsp;<a href="javascript:void(0)" class="text-dark">faithhopeloveclinic.com</a></small>
				  </li>
				  <li class="d-flex mt-2">
					<small class="mb-0 text-muted">Patient Name : </small>
					<small class="mb-0">&nbsp;&nbsp;{{appointments.ap_clientName}}</small>
				  </li>
				</ul>
			  </div>
			  <!--end col-->
			</div>
			<!--end row-->
		  
			<div class="pt-4 border-top">
			  <div class="row">
				<div class="col-lg-8 col-md-6">
				  <h5 class="text-muted fw-bold">Invoice <span class="badge badge-pill badge-soft-success fw-normal ms-2">{{appointments.ap_status}}</span></h5>
				  <h6>{{appointments.ap_service}}</h6>
				</div>
				<!--end col-->
		  
				<div class="col-lg-4 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
				  <ul class="list-unstyled">
					<li class="d-flex mt-2">
					  <small class="mb-0 text-muted">Start Time. : </small>
					  <small class="mb-0 text-dark">&nbsp;&nbsp;{{appointments.ap_startTime}}</small>
					</li>
		  
					<li class="d-flex mt-2">
					  <small class="mb-0 text-muted">End Time. : </small>
					  <small class="mb-0 text-dark">&nbsp;&nbsp;{{appointments.ap_endTime}}</small>
					</li>
		  
					<li class="d-flex mt-2">
					  <small class="mb-0 text-muted">Date. : </small>
					  <small class="mb-0 text-dark">&nbsp;&nbsp;{{appointments.ap_date}}</small>
					</li>
				  </ul>
				</div>
				<!--end col-->
			  </div>
			  <!--end row-->
		  
			  <div class="invoice-table pb-4">
				<div class="table-responsive shadow rounded mt-4">
				  <table class="table table-center invoice-tb mb-0">
					<thead style=" background-color:  #4169e1; color: white">
					  <tr>
						<th scope="col" class="text-start border-bottom p-3" style="min-width: 60px;">No.</th>
						<th scope="col" class="text-start border-bottom p-3" style="min-width: 220px;">Service</th>
						<th scope="col" class="border-bottom p-3" style="min-width: 130px;">Rate</th>
						<th scope="col" class="border-bottom p-3" style="min-width: 130px;">Total</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<th scope="row" class="text-start p-3">{{appointments.ap_number}}</th>
						<td class="text-start p-3">{{appointments.ap_service}}</td>
						<td class="p-3">₱ {{appointments.ap_amount}}</td>
						<td class="p-3">₱ {{appointments.ap_amount}}</td>
					  </tr>
					</tbody>
				  </table>
				</div>
		  
				<div class="row">
				  <div class="col-lg-4 col-md-5 ms-auto">
					<ul class="list-unstyled h6 fw-normal mt-4 mb-0 ms-md-5 ms-lg-4">
					  <li class="text-muted d-flex justify-content-between pe-3">Subtotal :<span>₱ {{appointments.ap_amount}}</span></li>
					  <li class="text-muted d-flex justify-content-between pe-3">Taxes :<span> 0</span></li>
					  <li class="d-flex justify-content-between pe-3">Total :<span>₱ {{appointments.ap_amount}}</span></li>
					</ul>
				  </div>
				  <!--end col-->
				</div>
				<!--end row-->
			  </div>
		  
			  <div class="border-top pt-4">
				<div class="row">
				  <div class="col-sm-6">
					<div class="text-sm-start text-muted text-center">
					  <small class="mb-0">Customer Services : <a href="tel:+152534-468-854" class="text-warning">(+63) 9088-890-7608</a></small>
					</div>
				  </div>
				  <!--end col-->
		  
				  <div class="col-sm-6">
					<div class="text-sm-end text-muted text-center">
					  <small class="mb-0"><a href="javascript:void(0)" class="text-primary">Terms &amp; Conditions</a></small>
					</div>
				  </div>
				  <!--end col-->
				</div>
				<!--end row-->
			  </div>
			</div>
		  </div>
		  
		  
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
		 
		  <a type="button" href="javascript:window.print()" class="btn btn-sm btn-primary d-print-none"><i class="uil uil-print"></i> Print</a>
		</div>
	  </div>
	</div>
  </div>
	<!-- MODAL END  -->
	{% endif %}
{% endfor %} 
  
{% for appointments in appointment %}
 {% if appointments.ap_clientID == appointment[-1] %}
  <!-- Delete Modal -->
  <div class="modal fade" id="cancelAppointment{{appointments.ap_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header" style="background-color: rgb(175, 44, 44); color: white">
		  <h5 class="modal-title" id="exampleModalLabel">Cancel Appointment</h5>
		</div>
		<div class="modal-body">
		 Are you sure you want to cancel this appointment?
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
		  <a class="btn btn-danger" href="https://faith-hope-love.herokuapp.com/appointment/deactivate/{{appointments.ap_id}}" onclick="confirm()">Save changes</a>
		</div>
	  </div>
	</div>
  </div>
  <!-- MODAL END  -->
  {% endif %}
{% endfor %} 

{% for appointments in appointment %}
 {% if appointments.ap_clientID == appointment[-1] %}
  <!--VIEW APPOINTMENT Modal -->
  <div class="modal fade" id="viewAppointment{{appointments.ap_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header" style="background-color:#097c4a; color:white">
		  <h5 class="modal-title" id="exampleModalLabel">View Appointment</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: none;">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <table class="table table-hover">
			<tbody>
			  <tr>
				<th class="text-right">Appointment ID</th>
				<td>{{appointments.ap_number}}</td>
			  </tr>
			  <tr>
				<th class="text-right">Date</th>
				<td>{{appointments.ap_date}}</td>
			  </tr>
			  <tr>
				<th class="text-right">Start-End<em class="text-muted mb-0  small"> (Time) </em> </th>
				<td>{{appointments.ap_startTime}} - {{appointments.ap_endTime}}</td>
			  </tr>
			 <tr>
			  <th>Prescription</th>
			  <td>N/A</td>
			 </tr>
			</tbody>
		  </table>
		</div>
	  </div>
	</div>
  </div>
  <!-- MODAL END  -->
  {% endif %}
{% endfor %} 
  <script>
    function confirm() {
      Swal.fire(
        'Appointment Canceled!',
        '',
        'success'
      )
    }
  </script>

{% endblock %}