{% extends 'clientside/clientBase.html' %}
{% block title %}
<title>Contact - Acupuncture and Herbal Medicine with Dr. Lee</title>
{% endblock %}
{% block linkcontent %}
<!-- Fontawesome icon -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
<!--Owl Carousel	-->	
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"  />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"  />
<link rel="stylesheet" href="{{url_for('static', path='/assets/css/contact.css')}}" type="text/css">	
{% endblock %}


<!--End Header	-->
{% block content %}
<hr>
<section class = "contact-section">
</div>
<div class = "contact-body">
  <div class = "contact-info">
    <div>
      <span><i class = "fas fa-mobile-alt"></i></span>
      <span>Phone No.</span>
      <span class = "text">Call :  +639088907608
<br>
        Call : +639173290155</span>
    </div>
    <div>
      <span><i class = "fas fa-envelope-open"></i></span>
      <span>E-mail</span>
      <span class = "text">faithhopeloveclinic@gmail.com</span>
    </div>
    <div>
      <span><i class = "fas fa-map-marker-alt"></i></span>
      <span>Address</span>
      <span class = "text">24k Mansion Unit 5, 45 Timog Ave. Cor. Sct. Tuazon St., Quezon City</span>
    </div>
    <div>
      <span><i class = "fas fa-clock"></i></span>
      <span>Opening Hours</span>
      <span class = "text">9AM – 12NN, 2PM – 6PM (Mon – Sat)

        Sunday : Closed</span>
    </div>
  </div>

  <div class = "contact-form">
    <form>  <h5 style="font-family:  'Open Sans', sans-serif , 'Lora';">Get in touch!</h5>
      <div>
        <input type = "text" class = "form-control" placeholder="First Name">
        <input type = "text" class = "form-control" placeholder="Last Name">
      </div>
      <div>
        <input type = "email" class = "form-control" placeholder="E-mail">
        <input type = "text" class = "form-control" placeholder="Phone">
      </div>
      <textarea rows = "5" placeholder="Message" class = "form-control"></textarea>
      <input type = "submit" class = "send-btn" value = "send message">
    </form>

    <div>
      <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=24k Mansion Unit 5, 45 Timog Ave. Cor. Sct. Tuazon St., Quezon City&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://mcpenation.com/">Minecraft Website</a></div><style>.mapouter{position:relative;text-align:right;width:600px;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:600px;height:400px;}.gmap_iframe {width:600px!important;height:400px!important;}</style></div>
    </div>
  </div>
</div>

</section>
{% endblock %}