{% extends 'clientside/clientBase.html' %}
{% block title %}
<title>Home - Acupuncture and Herbal Medicine with Dr. Lee</title>
{% endblock %}
{% block chatcontent%}
<!-- CHATBOT SRC -->
<link rel="stylesheet" href="{{url_for('static', path='/assets/css/chatStyle.css')}}" />
<script src="{{url_for('static', path='/assets/js/chatbotservice.js')}}" defer></script>
<script src="{{url_for('static', path='/assets/js/app.js')}}" defer></script>
{% endblock %}
{%block content%}

<!--Start Hero Banner	-->
	<div class="hero-banner container-fluid" id="home-section" >
		<div class="image"  alt="banner" style="  position: absolute; margin-left: 1000px; margin-top: -100px">
			<img src="../static/assets/images/banner.jpg" >
		</div>
	     <div class="container">
		     <div class="row">
			      <div class="col-md-12">
				      <div class="banner-text-wrap">
					       <h2>Acupuncture and<br>
							Herbal Medicine</h2>
						  <p>Dr. Lee of Faith Hope Love Medical Center has <br>practiced traditional Chinese Medicine in the <br>Philippines for 40 years and still continues to serve<br> patients to this day.</p><br>
						  <a href="#"  class="btn btn-primary" style="color: white;">GET STARTED</a>
						  </div>
					  </div>
				 </div>
			 </div>
		</div>
	</section>
<!--End Hero Banner	-->
        <!--dito len-->
	<section class="ftco-intro">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-md-3 color-1 p-4">
					<h3 class="mb-4">Emergency Cases</h3>
					<p></p>
					<span class="phone-number">+639173290155</span>
				</div>
				<div class="col-md-3 color-2 p-4">
					<h3 class="mb-4">Opening Hours</h3>
					<div class="openinghours d-flex">
						<label class="form-label px-2"><strong>Monday - Friday</strong> </label>
							<span>9:00 - 7:00</span>
					</div>
					<div class="openinghours d-flex">
						<label class="form-label px-2"><strong>Saturday</strong> </label>
						<span>10:00 - 5:00</span>
					</div>
					<div class="openinghours d-flex">
						<label class="form-label px-2"><strong>Sunday</strong> </label>
						<span>10:00 - 5:00</span>
					</div>
				</div>
				<div class="col-md-6 color-3 p-4">
					<h3 class="mb-2">Book an Appointment</h3>
			<hr>
			<form action="#" class="appointment-form" method="">
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<div class="row text-center">
								<input id="myID" type="hidden" style="display: none;" name="date" value="date">
								
							</div>
							<div class="card mt-3 time_slot" id="time_slot">
								<div class="card-header" style="background-color: #23ab70; color:white">
									<strong>Pick-up Time Slot</strong> 
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-md-6">
											<button type="button" class="btn btn-primary form-control mb-2" value="wkends_10_am" name="wkends_10_am">10:00 am</button>
											<button type="button" class="btn btn-primary form-control mb-2" value="wkends_11_am" name="wkends_11_am">11:00 am</button>
											<button type="button" class="btn btn-primary form-control mb-2" value="wkends_12_am" name="wkends_12_am">12:00 am</button>
											<button type="button" class="btn btn-primary form-control mb-2" value="wkends_1_pm" name="wkends_1_pm">1:00 pm</button>
										</div>
										<div class="col-md-6">
											<button type="button" class="btn btn-primary form-control mb-2" value="wkends_2_pm" name="wkends_2_pm">2:00 pm</button>
											<button type="button" class="btn btn-primary form-control mb-2" value="wkends_3_pm" name="wkends_3_pm">3:00 pm</button>
											<button type="button" class="btn btn-primary form-control mb-2" value="wkends_4_pm" name="wkends_4_pm">4:00 pm</button>
											<button type="button" class="btn btn-primary form-control mb-2" value="wkends_5_pm" name="wkends_5_pm">5:00 pm</button>
											
										</div>
									</div>
								</div>
							</div>
							<div class="card mt-3 time_slot" id="time_slot_weekend">
								<div class="card-header" style="background-color: #23ab70; color:white">
									<strong>Pick-up Time Slot</strong> 
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-md-6">
											
											<button type="button" class="btn btn-primary form-control mb-2" value="wkends_10_am" name="wkends_10_am">10:00 am</button>
											<button type="button" class="btn btn-primary form-control mb-2" value="wkends_11_am" name="wkends_11_am">11:00 am</button>
											<button type="button" class="btn btn-primary form-control mb-2" value="wkends_12_am" name="wkends_12_am">12:00 am</button>
											<button type="button" class="btn btn-primary form-control mb-2" value="wkends_1_pm" name="wkends_1_pm">1:00 pm</button>
										</div>
										<div class="col-md-6">
											<button type="button" class="btn btn-primary form-control mb-2" value="wkends_2_pm" name="wkends_2_pm">2:00 pm</button>
											<button type="button" class="btn btn-primary form-control mb-2" value="wkends_3_pm" name="wkends_3_pm">3:00 pm</button>
											<button type="button" class="btn btn-primary form-control mb-2" value="wkends_4_pm" name="wkends_4_pm">4:00 pm</button>
											<button type="button" class="btn btn-primary form-control mb-2" value="wkends_5_pm" name="wkends_5_pm">5:00 pm</button>
											
										</div>
									</div>
								</div>
							</div>

						
						</div>
					</div>
					
				</div>
				
				
				<div class="form-group">
				
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
						Book an Appointment
					</button>
				</div>
				</form>
				</div>
			</div>
		</div>
	</section>
 <!--dito len end -->

 <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Make an Appointment</h5>
		  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary">Save changes</button>
		</div>
	  </div>
	</div>
  </div>

		  
<!--Start services Section-->
	<section class="services-section" id="services-section">
	     <div class="container">
		     <div class="row">
				 <div class="col-md-12">
				     <h2 class="section-title text-center">Specializes In:</h2>
				 </div>
				 <div class="col-md-4">
				      <div class="services-box">
						  <h3>Hypertensiony</h3>
						  <p>
							Your blood pressure changes throughout the day based on your activities. Having blood pressure measures consistently above normal may result in a diagnosis of high blood pressure</p><br>
					 </div>
				 </div>
				 <div class="col-md-4">
				      <div class="services-box">
						  <h3>Diabetes</h3>
						  <p>Diabetes is a chronic (long-lasting) health condition that affects how your body turns food into energy. Your body breaks down most of the food you eat into sugar (glucose) and releases it into your bloodstream.</p>
					 </div>
				 </div> 
				<div class="col-md-4">
				      <div class="services-box">
						  <h3>Asthma & Emphysema</h3>
						  <p>Both asthma and chronic obstructive pulmonary disease (COPD), including emphysema and chronic bronchitis, make breathing difficult. In fact, they share many similarities. However, they are different lung diseases</p>
					 </div>
				 </div> 
				 <div class="col-md-4">
				      <div class="services-box">
					    <!--abang <img src="" alt="">-->
						  <h3>Migraine</h3>
						  <p>A migraine is a headache that can cause severe throbbing pain or a pulsing sensation, usually on one side of the head. It’s often accompanied by nausea, vomiting, and extreme sensitivity to light and sound.</p>
					 </div>
				 </div>  	 
				  <div class="col-md-4">
				      <div class="services-box">
						  <h3>Dysmenorrhea</h3>
						  <p>Menstrual cramps (dysmenorrhea) are throbbing or cramping pains in the lower abdomen. Many women have menstrual cramps just before and during their menstrual periods. For some women, the discomfort is merely annoying</p>
					 </div>
				 </div>
				 
				   <div class="col-md-4">
				      <div class="services-box">
						  <h3>Hepatology</h3>
						  <p>Insomnia is a common sleep disorder that can make it hard to fall asleep, hard to stay asleep, or cause you to wake up too early and not be able to get back to sleep. You may still feel tired when you wake up</p>
					 </div>
				 </div>
				 <div class="col-md-4">
					<div class="services-box">
						<h3>Rheumatism Arthritis</h3>
						<p>Rheumatoid arthritis, or RA, is an autoimmune and inflammatory disease, which means that your immune system attacks healthy cells in your body by mistake, causing inflammation (painful swelling) in the affected parts of the body. RA mainly attacks the joints, usually many joints at once.</p>
				   </div>
			   </div>
			   <div class="col-md-4">
				<div class="services-box">
					<h3>Parkinson’s Disease</h3>
					<p>Parkinson’s disease is a brain disorder that causes unintended or uncontrollable movements, such as shaking, stiffness, and difficulty with balance and coordination. </p><br><br>
			   </div>
		   </div>
		   <div class="col-md-4">
			<div class="services-box">
				<h3>Eye & Skin Disease</h3>
				<p>There are hundreds of different eye diseases and vision problems. Some have no cure, but many others are treatable.Skin disorders vary greatly in symptoms and severity. They can be temporary or permanent, and may be painless or painful.</p><Br>
		   </div>


				 
			 </div>
		</div>
	</section>
<!--End services Section-->
<section class="services-section" id="services-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="section-title text-center">No Operation</h2>
			</div>
			<div class="col-md-4">
				 <div class="services-box">
					 <h3>Sinusitisy</h3>
					 <p>
						Sinusitis is an inflammation, or swelling, of the tissue lining the sinuses. The sinuses are four paired cavities (spaces) in the head. They are connected by narrow channels.</p><br>
				</div>
			</div>
			<div class="col-md-4">
				 <div class="services-box">
					 <h3>Prostatitis</h3>
					 <p>Prostatitis is inflammation (swelling) of the prostate gland. It can be very painful and distressing, but will often get better eventually. </p><br><br>
				</div>
			</div> 
		   <div class="col-md-4">
				 <div class="services-box">
					 <h3>Gallstones</h3>
					 <p>Gallstones are hardened deposits of digestive fluid that can form in your gallbladder. Your gallbladder is a small, pear-shaped organ on the right side of your abdomen, just beneath your liver. </p><br>
				</div>
			</div> 
			<div class="col-md-4">
				 <div class="services-box">
				   <!--abang <img src="" alt="">-->
					 <h3>Kidney Stones</h3>
					 <p>Kidney stones (also called renal calculi, nephrolithiasis or urolithiasis) are hard deposits made of minerals and salts that form inside your kidneys.</p><br><br><Br>
				</div>
			</div>  	 
			 <div class="col-md-4">
				 <div class="services-box">
					 <h3>Bladder Stones</h3>
					 <p>Bladder stones usually form when you can’t completely empty your bladder of urine. A common reason for this in men is having an enlarged prostate gland that blocks the flow of urine. If urine sits in the bladder for a long time, chemicals in the urine form crystals, which harden into bladder stones.</p>
				</div>
			</div>
			
			  <div class="col-md-4">
				 <div class="services-box">
					 <h3>Hemorrhoids</h3>
					 <p>Hemorrhoids are swollen veins in your lower rectum. Internal hemorrhoids are usually painless, but tend to bleed. External hemorrhoids may cause pain.</p><br><br><br>
				</div>
			</div>
		</div>
   </div>
</section>
<section class="services-section" id="services-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="section-title text-center">Service</h2>
			</div>
			<div class="col-md-4">
				 <div class="services-box">
					 <h3>HILOT</h3>
					 <p>
						"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p><br>
					<p>₱ 950</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="services-box">
					<h3>ACUPUNCTURE</h3>
					<p>
						"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p><br>
				   <p>₱ 1850</p>
			   </div>
		   </div>
		   <div class="col-md-4">
			<div class="services-box">
				<h3>CHECK-UP</h3>
				<p>
					"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p><br>
			   <p>₱ 500</p>
		   </div>
	   </div>
   </div>
</section>
{% endblock %}