{% extends 'clientside/clientBase.html' %}
{% block title %}
<title>Register - Acupuncture and Herbal Medicine with Dr. Lee</title>
{% endblock %}

{% block content %}

<section>
  <div class="card" style="border-top-right-radius: 50%">
  <div class="container">
     <div class="col-md-12 mb-4">
        <h2 class="h4"></h2>
        <br><br><br>
        <div class="container">
          <form method="POST">
           <div class="row">
              <div class="col-md-6">
                 <div class="form-group">
                    <b>User Name</b>  <input type="text" class="form-control" required="active" name="user_username" placeholder="enter user name ">
                 </div>
              </div>
              <div class="col-md-6">
                 <div class="form-group">
                 </div>
              </div>
              <div class="col-md-6">
                 <div class="form-group">
                    <b>Password</b>  <input type="password" class="form-control"  required="active" name="user_password"  placeholder="enter password">
                 </div>
              </div>
              <!--para mag ka space lang pi -->
              <div class="col-md-6">
                 <div class="form-group">
                 </div>
              </div>
              <div class="col-md-6">
                 <div class="form-group">
                    <br>
                 </div>
              </div>
              <div class="col-md-6">
                 <div class="form-group">
                 </div>
              </div>
              <br>
              <div class="col-md-6">
                 <div class="form-group">
                    <b>First name</b>  <input type="text" class="form-control" required="active" name="cl_firstName" placeholder="enter name">
                 </div>
              </div>
              <div class="col-md-6">
                 <div class="form-group">
                    <b>Marital status</b> 
                    <select required input type="text" class="form-control" required="active" name="cl_maritalStatus" placeholder="enter contact no.">
                       <option disabled selected hidden>Select Status</option>
                       <option value="Married">Married</option>
                       <option value="Widowed">Widowed</option>
                       <option value="Separated">Separated</option>
                       <option value="Divorced">Divorced</option>
                       <option value="Single">Single</option>
                    </select>
                 </div>
              </div>
              <div class="col-md-6">
                 <div class="form-group">
                    <b>Middle</b> <input type="text" class="form-control" required="active" name="cl_middleName" placeholder="enter middle name">
                 </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                   <b>Date of Birth</b>  <input type="date" class="form-control appointment_date" name="cl_birthdate" required="active" placeholder="">
                </div>
             </div>
              <div class="col-md-6">
                 <div class="form-group">
                    <b>Last Name</b> <input type="text"  required="active" class="form-control" name="cl_lastName" placeholder="enter last name">
                 </div>
              </div>
              <div class="col-md-6">
                 <div class="form-group">
                    <b>Email</b><input type="text" class="form-control" required="active" name="user_email" placeholder="enter email">
                 </div>
              </div>
              <div class="col-md-6">
                 <div class="form-group">
                    <b>Select Gender</b> 
                    <select required input type="text" class="form-control" required="active" name="cl_gender" placeholder="select gender">
                       <option disabled selected>Select Gender</option>
                       <option value="Male">Male</option>
                       <option value="Female">Female</option>
                       <option value="Others">Others</option>
                    </select>
                 </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <b>#</b><input type="text" class="form-control" required="active" name="cl_houseNo" placeholder="enter house no.">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <b>Street</b><input type="text" class="form-control" required="active" name="cl_street" placeholder="enter street">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <b>Barangay</b><input type="text" class="form-control" required="active" name="cl_brgy" placeholder="enter brgy">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <b>City</b><input type="text" class="form-control" required="active" name="cl_city" placeholder="enter city">
                </div>
              </div>
              <div class="col-md-6">
                 <div class="form-group">
                    <b>Contact No.</b><input type="text" class="form-control" required="active" name="cl_contactNo" placeholder="enter contact no.">
                 </div>
              </div>
              <br><br><br>
              <!-- <div class="col-md-12">
                 <div class="form-group">
                   <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
                 </div>
                 </div>--><br><br>
              <div class="col-md-3">
                 <button type="submit" class="btn btn-outline-success">Register</a>
              </div>
           </div>
           </form>
        </div>
     </div>
  </div>
  
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Privacy Policy for Faith Hope Love</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         {% include 'clientside/privacy.html' %}
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
         <button type="button" class="btn btn-success" data-bs-dismiss="modal">I Agree</button>
       </div>
     </div>
   </div>
 </div>

<script type="text/javascript">
   $(window).on('load', function() {
       $('#exampleModal').modal('show');
   });
</script>

{% endblock %}