{% extends 'clientside/clientBase.html' %}

{% block title %}
<title>About - Acupuncture and Herbal Medicine with Dr. Lee</title>
{% endblock %}

{% block linkcontent %}
<!-- Fontawesome icon -->
<link rel="stylesheet" href="{{url_for('static', path='/assets/css/aboutCss.css')}}" type="text/css">
<style>
	.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
  
  </style>
{% endblock %}
{% block navcontent%}
       <nav class="navbar navbar-expand-lg navbar-light" >
          <div class="container-fluid">
             <a class="navbar-brand" href="/users/">
             <img src="../static/assets/images/logo.png" alt="">
             </a>
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                   <li class="nav-item " >
                      <a class="nav-link " href="/users/">Home</a>
                   </li>
                   <li class="nav-item active">
                      <a class="nav-link" href="about">About</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="product">Shop</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="contact">Contact</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="register">Register</a>
                   </li>
                   
                  
                  <li class="nav-item">
                     <a class="nav-link" href="login">Login</a>
                  </li>
                   <!-- PROFILE NAVBAR -->
                   <li class="nav-item">
                    <a class="nav-link " href="#"><i class="fa-solid fa-cart-shopping my-cart-icon"><span class="badge badge-danger my-cart-badge"></span></i>
                    </a>
                  </li> 
                </ul>
             </div>
          </div>
       </nav>
       {% endblock %}
{%block content%}

<div></div>
<div class="container" style="margin-top: 100px">
  
<section>
  <div class="row mb-5">
     
          <div class="col-md-9">
            <img src="../static/assets/images/colcert.png" ><br>
          </div>
          <div class="col-md-3">
            <h4>Dr.  Lee Wu Chun Mei: Asia’s Top Acupuncturist</h4>
            <br>
            Dr. Lee Wu Chun Mei is a licensed Obstetrician-Gynecologist who earned her degree from the Taiwan Chinese Medical School, but specializes in the practice of the ancient Chinese science of acupuncture. 
            <br>
            According to Dr. Lee, our body has 365 different nerve points which respond to the direct pressure of a needle. Each nerve point corresponds to a different organ, such as the gall bladder, the heart and the kidneys. She emphasizes that acupuncture is different and more effective than reflexology.<br><br> “In acupuncture, the needle actually touches the nerve point,” she says in Chinese-accented English though she’s been in the country for over three decades. 
          </div>
         
          <div class="col-md-12">
            <br>
            “There’s a big difference between acupuncture and reflexology, or acupressure, you just press down on it, and since there’s a layer of skin between the nerve point and your fingers, it takes longer for the pressure to reach the nerve point and longer for the healing to start.”
          </div>
         
         
      </div>
</section>
</div>
<div class="hero-banner">
<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).webp"
          alt="First slide">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Testimonies</h3>
        <p>“People came to me with all sorts of complaints, some had to see me secretly because they had sons and daughters who were doctors and who were prescribing medicines, but they were not getting any better. They were tired of taking medicines for seemingly incurable diseases, after trying acupuncture and taking Chinese medicines, most patients show remarkable improvements. Those who have been healed pass the word around, which won her the heart and trust of many.”</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).webp"
          alt="Second slide">
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Testimonies</h3>
        <p> Dr. Lee cited one of the many documented cases of patients whose condition showed a marked response to acupuncture treatment, “Zamboanga 1987. A professor of a certain university had been diagnosed as having brain tumor. For three years from 1984 to 1987, she had been suffering excruciating pain. Medical doctors routinely told her an operation was needed but she could not afford it. It was a Muslim community. Many Muslim patients were treated and naturally word about my skill fell upon the professor’s ear and she also came to me. After three or four treatments, her condition improved. When all ten treatments were done, the headache disappeared! She was able to sleep normally so much so that she has decided to return to work.”</p>
      </div>
    </div>
    
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
</div>







<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script> 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
<script src="{{url_for('static', path='/assets/js/sessioncheckers.js')}}"></script>
<script>
	$(document).ready(function(){
		$("#testimonial-slider").owlCarousel({
			items:1,
			itemsDesktop:[1000,1],
			itemsDesktopSmall:[979,1],
			itemsTablet:[768,1],
			pagination:true,
			transitionStyle:"backSlide",
			autoPlay:true
		});
	});
	</script>
{%endblock%}