{% extends 'clientside/clientBase.html' %}
{% block title %}
<title>Contact - Acupuncture and Herbal Medicine with Dr. Lee</title>
{% endblock %}

{% block linkcontent %}
<!-- Fontawesome icon -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
<!--Owl Carousel	-->	
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"  />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"  />
<link rel="stylesheet" href="{{url_for('static', path='/assets/css/contact.css')}}" type="text/css">	
{% endblock %}

{% block navcontent %}
<nav class="navbar navbar-expand-lg navbar-light">
	<div class="container-fluid">
	<a class="navbar-brand" href="home.html">
	<img src="../static/assets/images/logo.png" alt="">
	</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
			<li class="nav-item">
				<a class="nav-link" aria-current="page" href="/client/home2">Home</a>
			</li>
			<li class="nav">
				<a class="nav-link" href="about2">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="product2">Shop</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="contact2">Contact</a>
			</li>
			<!-- PROFILE NAVBAR -->
			<li class="list-inline-item dropdown notif show">
				<a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="true">Profile
				</a>
				<div class="dropdown-menu dropdown-menu-right profile-dropdown " x-placement="bottom-end" style="position: absolute; transform: translate3d(-108px, 50px, 0px); top: 0px; left: 0px; will-change: transform;">
				<!-- item-->
				<a href="/client/profile" class="dropdown-item notify-item">
				<i class="fa fa-user"></i> <span>Profile</span>
				</a>
				<!-- item-->
				<a href="/client/appointments" class="dropdown-item notify-item">
				<i class="fa fa-address-book-o"></i> <span>My Appointments</span>
				</a>
				<a href="/client/orders" class="dropdown-item notify-item">
				<i class="fa fa-address-book-o"></i> <span>Order List</span>
				</a>
				<!-- item-->
				<a href="/users/logout" class="dropdown-item notify-item">
				<i class="fa fa-power-off"></i> <span>Logout</span>
				</a>
				</div>
			</li>
		</ul>
	</div>
	</div>
</nav>
{% endblock %}

{% block content %}
<br><br><br><br>
<div class="contact-wrap">
	<div class="contact-in">
		<b>
		<h1></h1>
		<h2><i class="fa fa-phone" aria-hidden="true"></i> Phone</h2>
		<p>+639173290155 &nbsp;&nbsp;+639088907608</p>
		
		<h2><i class="fa fa-envelope" aria-hidden="true"></i> Email</h2>
		<p>faithhopeloveclinic@gmail.com</p>
		<h2><i class="fa fa-map-marker" aria-hidden="true"></i> Address</h2>
		<p>Loc: 24k Mansion Unit 5, 45 Timog Ave. Cor. Sct. Tuazon St., Quezon City
	
		</p>
		</b>
		<ul>
			<li><a href="https://www.facebook.com/faithhopelovemedicalcenter"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			<li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
			<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
		</ul>
	</div>
	<div class="contact-in">
		<h1>Contact us</h1>
		<form data-dashlane-rid="0eb391fa3ce4110b" data-form-type="contact">
			<input type="text" placeholder="Full Name" class="contact-in-input" data-dashlane-rid="d567e1443fe89316" data-kwimpalastatus="alive" data-kwimpalaid="1675848848089-0" data-form-type="name">
			<input type="text" placeholder="Email" class="contact-in-input" data-dashlane-rid="e009e7715e4d46bb" data-kwimpalastatus="alive" data-kwimpalaid="1675848848089-1" data-form-type="email">
			<input type="text" placeholder="Subject" class="contact-in-input" data-dashlane-rid="1e18a76a77a5567e" data-form-type="other">
			<textarea placeholder="Message" class="contact-in-textarea" data-dashlane-rid="b248e2a6be6e0fd8" data-form-type="other"></textarea>
			<input type="submit" value="SUBMIT" class="contact-in-btn" data-dashlane-rid="607a3583ec3ee6f3" data-form-type="action">
		</form>
	</div>
	
	<div class="contact-in">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1930.1761579171507!2d121.0328642181212!3d14.635931368482344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b652ccb46c59%3A0x1c32d26036140f1e!2sFaith%20Hope%20Love%20Medical%20Center!5e0!3m2!1sfil!2sph!4v1675511081005!5m2!1sfil!2sph" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" data-dashlane-frameid="1066"></iframe>
	</div>
</div>

<center><br><br><br><br><br>
  <div class="blockart-column-inner">
    <div class="blockart-image blockart-image-cb9e1b82"><img src="https://faithhopeloveclinic.com/wp-content/uploads/2021/12/contact-cta.png" alt=""></div>
    </div>
    <h2 class="blockart-heading blockart-heading-4d52da07"> Let’s talk </h2>
  </center>

</section>
<br><br><br>

{% endblock %}