{% extends 'clientside/clientBase.html' %}
{% block title %}
<title>Home - Acupuncture and Herbal Medicine with Dr. Lee</title>
{% endblock %}
{% block linkcontent %}
<link rel="stylesheet" href="{{url_for('static', path='/assets/css/style.css')}}" type="text/css">
<link rel="stylesheet" href="{{url_for('static', path='/assets/css/price.css')}}" type="text/css">
<link rel="stylesheet" href="{{url_for('static', path='/assets/css/service.css')}}" type="text/css">
{% endblock %}
{%block content%}

<!--Start Hero Banner	-->
<div class="hero-banner container-fluid" id="home-section">
	<div class="image" alt="banner" style="  position: absolute; margin-left: 1000px; margin-top: -100px">
		<img src="../static/assets/images/banner.jpg">
	</div>
	 <div class="container">
		 <div class="row">
			  <div class="col-md-12">
				  <div class="banner-text-wrap">
					   <h2 class="text-white"> <p style="color:rgb(255, 255, 255)">Acupuncture and<br>
						Herbal Medicine</p></h2>
						<p style="color:rgb(255, 255, 255)">Dr. Lee of Faith Hope Love Medical Center has <br>practiced traditional Chinese Medicine in the <br>Philippines for 40 years and still continues to serve<br> patients to this day.</p><br>
					  <a href="#" class="btn" style="color: white;">GET STARTED</a>
					  </div>
				  </div>
			 </div>
		 </div>
	</div>
	<!-- <div class="hero-banner container-fluid" id="home-section" >
		<div class="image"  alt="banner" style="  position: absolute; margin-left: 1000px; margin-top: -100px">
			<img src="../static/assets/images/banner.jpg" >
		</div>
	     <div class="container">
		     <div class="row">
			      <div class="col-md-12">
				      <div class="banner-text-wrap">
					       <h2>Acupuncture and<br>
							Herbal Medicine</h2>
						  <p>Dr. Lee of Faith Hope Love Medical Center has <br>practiced traditional Chinese Medicine in the <br>Philippines for 40 years and still continues to serve<br> patients to this day.</p><br>
						  <a href="#"  class="btn btn-primary" style="color: white;">GET STARTED</a>
						  </div>
					  </div>
				 </div>
			 </div>
		</div>
	</section> -->
<!--End Hero Banner	-->
        <!--dito len-->
	<section class="ftco-intro">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-md-3 color-1 p-4">
					<h3 class="mb-4">Emergency Cases</h3>
					<p></p>
					<span class="phone-number">+639173290155</span>
				</div>
				<div class="col-md-3 color-2 p-4">
					<h3 class="mb-4">Opening Hours</h3>
					<div class="openinghours d-flex">
						<label class="form-label px-2"><strong>Monday - Friday</strong> </label>
							<span>9:00 - 7:00</span>
					</div>
					<div class="openinghours d-flex">
						<label class="form-label px-2"><strong>Saturday</strong> </label>
						<span>10:00 - 5:00</span>
					</div>
					<div class="openinghours d-flex">
						<label class="form-label px-2"><strong>Sunday</strong> </label>
						<span>10:00 - 5:00</span>
					</div>
				</div>
				<div class="col-md-6 color-3 p-4">
					<h3 class="mb-2">Book an Appointment</h3>
			<hr>
			<form action="#" class="appointment-form" method="">
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<div class="row text-center">
								<input id="myID" type="hidden" style="display: none;" name="date" value="date">
						</div>
					</div>
					
				</div>
				<div class="form-group">
				
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" onclick="alert()" >
						Book an Appointment
					</button>
				</div>
				</form>
				</div>
			</div>
		</div>
	</section>
 <!--dito len end -->

 <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Make an Appointment</h5>
		  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary">Save changes</button>
		</div>
	  </div>
	</div>
  </div>

		  
<!--Start services Section-->
<center>
	<section class="services-section" id="services-section">
	   <div class="wrapper">
		  <h2>Specializes In:</h2>
		  <hr>
		  <div class="cols">
			 <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
				   <div class="front" style="background-image: url(https://searhc.org/wp-content/uploads/2019/05/Hypertension-900x500.jpg)">
					  <div class="inner">
						 <b>
							<p>Hypertension</p>
						 </b>
						 <span></span>
					  </div>
				   </div>
				   <div class="back">
					  <div class="inner">
						 <p>Your blood pressure changes throughout the day based on your activities. Having blood pressure measures consistently above normal may result in a diagnosis of high blood pressure
						 </p>
					  </div>
				   </div>
				</div>
			 </div>
			 <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
				   <div class="front" style="background-image: url(https://t4.ftcdn.net/jpg/02/48/54/39/360_F_248543951_y8g0rPBppDUr4BA6cKDMoaXJf504gcuV.jpg)">
					  <div class="inner">
						 <p><b>Diabetes</b></p>
						 <span></span>
					  </div>
				   </div>
				   <div class="back">
					  <div class="inner">
						 <p>Diabetes is a chronic (long-lasting) health condition that affects how your body turns food into energy. Your body breaks down most of the food you eat into sugar (glucose) and releases it into your bloodstream.</p>
					  </div>
				   </div>
				</div>
			 </div>
			 <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
				   <div class="front" style="background-image: url(https://media.istockphoto.com/id/1131684906/vector/pulmonary-medication-concept-in-flat-style-vector.jpg?s=612x612&w=0&k=20&c=ORiQ5mrKcqP3oyhoDJvCLV8rgauFg6jnXH-quHK7DJ0=)">
					  <div class="inner">
						 <p><b>Asthma <br>&<Br> Emphysema</b></p>
						 <span></span>
					  </div>
				   </div>
				   <div class="back">
					  <div class="inner">
						 <p>Both asthma and chronic obstructive pulmonary disease (COPD), including emphysema and chronic bronchitis, make breathing difficult. In fact, they share many similarities. However, they are different lung diseases</p>
					  </div>
				   </div>
				</div>
			 </div>
		  </div>
	   </div>
	   <div class="wrapper">
		  <div class="cols">
			 <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
				   <div class="front" style="background-image: url(https://t4.ftcdn.net/jpg/02/82/12/99/360_F_282129985_4pPu8qWD4C5eSeQNdrPVQAT4df9ZPGeJ.jpg)">
					  <div class="inner">
						 <p><b>Migraine</b></p>
						 <span></span>
					  </div>
				   </div>
				   <div class="back">
					  <div class="inner">
						 <p>A migraine is a headache that can cause severe throbbing pain or a pulsing sensation, usually on one side of the head. It’s often accompanied by nausea, vomiting, and extreme sensitivity to light and sound.
						 </p>
					  </div>
				   </div>
				</div>
			 </div>
			 <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
				   <div class="front" style="background-image: url(https://media.istockphoto.com/id/1364090812/vector/painful-menstruation-concept-trendy-flat-illustration-uterus-inflammation-endometriosis.jpg?s=612x612&w=0&k=20&c=YIAWEug3qjEdEaj1f4_TtWEecIQdUzR5Lgm4qO3enXI=)">
					  <div class="inner">
						 <p><b>Dysmenorrhea</b></p>
						 <span></span>
					  </div>
				   </div>
				   <div class="back">
					  <div class="inner">
						 <br>
						 <p>Menstrual cramps (dysmenorrhea) are throbbing or cramping pains in the lower abdomen. Many women have menstrual cramps just before and during their menstrual periods.</p>
					  </div>
				   </div>
				</div>
			 </div>
			 <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
				   <div class="front" style="background-image: url(https://www.mkmedicine.in/site_control/uploads/sub_category_image/1529127204_2018_06_16.jpg)">
					  <div class="inner">
						 <p><b>Hepatology</b></p>
						 <span></span>
					  </div>
				   </div>
				   <div class="back">
					  <div class="inner">
						 <p>Insomnia is a common sleep disorder that can make it hard to fall asleep, hard to stay asleep, or cause you to wake up too early and not be able to get back to sleep. You may still feel tired when you wake up</p>
					  </div>
				   </div>
				</div>
			 </div>
		  </div>
	   </div>
	   <div class="wrapper">
		  <div class="cols">
			 <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
				   <div class="front" style="background-image: url(https://media.sciencephoto.com/c0/24/43/83/c0244383-800px-wm.jpg)">
					  <div class="inner">
						 <p><b>Rheumatism Arthritis</b></p>
						 <span></span>
					  </div>
				   </div>
				   <div class="back">
					  <div class="inner">
						 <p>Rheumatoid arthritis, or RA, is an autoimmune and inflammatory disease, which means that your immune system attacks healthy cells in your body by mistake, causing inflammation (painful swelling) in the affected parts of the body.
						 </p>
					  </div>
				   </div>
				</div>
			 </div>
			 <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
				   <div class="front" style="background-image: url(https://medlineplus.gov/images/PX000174_PRESENTATION.jpeg)">
					  <div class="inner">
						 <p><b>Parkinson’s Disease</b></p>
						 <span></span>
					  </div>
				   </div>
				   <div class="back">
					  <div class="inner">
						 <p>Parkinson’s disease is a brain disorder that causes unintended or uncontrollable movements, such as shaking, stiffness, and difficulty with balance and coordination.</p>
					  </div>
				   </div>
				</div>
			 </div>
			 <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
				   <div class="front" style="background-image: url(https://img.freepik.com/premium-vector/man-skin-problems-vector-illustration-male-face-with-pimples-dark-spots-wrinkles-acne_81894-1998.jpg)">
					  <div class="inner">
						 <p><b>Eye & Skin Disease</b></p>
						 <span></span>
					  </div>
				   </div>
				   <div class="back">
					  <div class="inner">
						 <p>There are hundreds of different eye diseases and vision problems. Some have no cure, but many others are treatable.Skin disorders vary greatly in symptoms and severity. They can be temporary or permanent, and may be painless or painful.</p>
					  </div>
				   </div>
				</div>
			 </div>
		  </div>
	   </div>
	</section>
 </center>
<!--End services Section-->
<!-- PRICING SECTION  -->
<div class="section">
	<div class="pricing">
		<div class="pricing-header">
			<span class="main-color"><p style="color:black" >Service </p></span> <hr>
		<div class="pricing-list">
			<div class="row row-3">
				{% for services in service %}
				<div class="col">
					<div class="pricing-box">
						<div class="pricing-box-header">
							<div class="pricing-name">
								<p style="color:rgb(255, 255, 255)" > {{services.service_name}} </p>
							</div>
							<div class="pricing-price">
								<p style="color:rgb(255, 255, 255)" >₱ {{services.service_price}} </p>
							</div>
						</div>
						<div class="pricing-box-content">
							<p style="color:rgb(255, 255, 255)" >{{services.service_description}} </p>
							<p></p>
							<p> </p>
							<p><del></del></p>
						</div>
						<div class="pricing-box-action">
							<a href="#" class="btn btn-hover">
								<span>Order now</span>
							</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
</div>
<!-- END PRICING SECTION -->
<script>
	function alert(){
	  window.open("login", "_self").reload()
	  alert("Please Log in");
	}
  </script>
{% endblock %}