{% extends 'clientside/clientBase.html' %}
{% block title %}
<title>Home - Acupuncture and Herbal Medicine with Dr. Lee</title>
{% endblock %}
{% block linkcontent %}
<link rel="stylesheet" href="{{url_for('static', path='/assets/css/price.css')}}" type="text/css">
<link rel="stylesheet" href="{{url_for('static', path='/assets/css/service.css')}}" type="text/css">
<link rel="stylesheet" href="{{url_for('static', path='/assets/css/style.css')}}" type="text/css">
{% endblock %}

{% block navcontent %}
<nav class="navbar navbar-expand-lg navbar-light">
	<div class="container-fluid">
	<a class="navbar-brand" href="home.html">
	<img src="../static/assets/images/logo.png" alt="">
	</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/users/home2">Home</a>
			</li>
			<li class="nav">
				<a class="nav-link" href="about2">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="product2">Shop</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="contact2">Contact</a>
			</li>
			<!-- PROFILE NAVBAR -->
			<li class="list-inline-item dropdown notif show">
				<a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="true">Profile
				</a>
				<div class="dropdown-menu dropdown-menu-right profile-dropdown " x-placement="bottom-end" style="position: absolute; transform: translate3d(-108px, 50px, 0px); top: 0px; left: 0px; will-change: transform;">
				<!-- item-->
				<a href="/users/profile" class="dropdown-item notify-item">
				<i class="fa fa-user"></i> <span>Profile</span>
				</a>
				<!-- item-->
				<a href="/users/appointments" class="dropdown-item notify-item">
				<i class="fa fa-address-book-o"></i> <span>My Appointments</span>
				</a>
				<a href="/users/orders" class="dropdown-item notify-item">
				<i class="fa fa-address-book-o"></i> <span>Order List</span>
				</a>
				<!-- item-->
				<a href="/users/logout" class="dropdown-item notify-item">
				<i class="fa fa-power-off"></i> <span>Logout</span>
				</a>
				</div>
			</li>
		</ul>
	</div>
	</div>
</nav>
{% endblock %}

{%block content%}

<!--Start Hero Banner	-->
	<div class="hero-banner">
		<div class="image"  alt="banner" style="  position: absolute; margin-left: 1000px; margin-top: -100px">
			<img src="../static/assets/images/banner.jpg" >
		</div>
	     <div class="container">
		     <div class="row">
			      <div class="col-md-12">
				      <div class="banner-text-wrap">
					       <h2>Acupuncture and<br>
							Herbal Medicine</h2>
						  <p>Dr. Lee of Faith Hope Love Medical Center has <br>practiced traditional Chinese Medicine in the <br>Philippines for 40 years and still continues to serve<br> patients to this day.</p><br>
						  <a href="#"  class="btn btn-primary" style="color: white;">GET STARTED</a>
						  </div>
					  </div>
				 </div>
			 </div>
		</div>
	</section>
<!--End Hero Banner	-->
        <!--dito len-->
<section class="ftco-intro">
   <div class="container">
      <div class="row no-gutters">
         <div class="col-md-3 color-1 p-4">
            <h3 class="mb-4">Emergency Cases</h3>
            <p></p>
            <span class="phone-number">+639173290155</span>
         </div>
         <div class="col-md-3 color-2 p-4">
            <h3 class="mb-4">Opening Hours</h3>
            <div class="openinghours d-flex">
               <label class="form-label px-2"><strong>Monday - Friday</strong> </label>
               <span>9:00 - 7:00</span>
            </div>
            <div class="openinghours d-flex">
               <label class="form-label px-2"><strong>Saturday</strong> </label>
               <span>10:00 - 5:00</span>
            </div>
            <div class="openinghours d-flex">
               <label class="form-label px-2"><strong>Sunday</strong> </label>
               <span>10:00 - 5:00</span>
            </div>
         </div>
         <div class="col-md-6 color-3 p-4">
            <h3 class="mb-2">Book an Appointment</h3>
            <hr>
            <form action="#" class="appointment-form" method="POST">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="form-group">
                        <div class="row text-center">
                           <input id="myID" type="hidden" style="display: none;" name="date" value="date">
                        </div>
                     </div>
                  </div>
               </div>
               <!-- <div class="form-group">
                  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#appointmentModal">
                  Book an Appointment
                  </button>
               </div> -->
            </form>
			<a type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#appointmentModal">
				Book an Appointment
			</a>
         </div>
      </div>
   </div>
</section>
 <!--dito len end -->

 <!-- Modal -->
<div class="modal fade" id="appointmentModal" tabindex="-1" aria-labelledby="appointmentModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<div class="col-md-12">
					<h3>Booking Form </h3>
					<p>Fill the form below and we will get back soon to you for more updates.</p>
				</div>	
			</div>
		<div class="modal-body">
			<form action="http://127.0.0.1:8000/users/home2" method="POST" id="appointmentForm">
				<div class="container">
					<div class="row mt-2">
						<div class="col-md-4" style="vertical-align: text-top;">
							<b>Cormordibidities / Symptoms</b>
						</div>
						<div class="col-md-8">
							<textarea name="ap_comorbidity" id=""  rows="4" class="form-control" placeholder="type here . . . "></textarea>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-md-4" style="vertical-align: text-top;">
							<b>Services</b>
						</div>
						<div class="col-md-8">
							<select name="ap_serviceType" id="" class="form-control" required>
								{% for service in appointments[appointments[-3]:-appointments[-1] - appointments[-2]] %}
								<option value="{{service.service_id}}">{{service.service_name}}</option>
								{% endfor %}
							</select>
							<div class="invalid-feedback">
								This field is required.
							</div>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-md-4" style="vertical-align: text-top;">
							<b>Appointment Time</b>
						</div>
						<div class="col-md-8">
							<select class="form-control" name="ap_slotID" id="" required>
								{% for timeslot in appointments[appointments[-3] + appointments[-2]:-3] %}
								<option value="{{timeslot.slot_id}}">{{timeslot.slot_start}} - {{timeslot.slot_end}}</option>
								{% endfor %}
							</select>
							<div class="invalid-feedback">
								This field is required.
							</div>
						</div>
					</div>
				</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary btn-sm">Submit</button>
			</div>
			</form>
		</div>
		</div>
	</div>
</div>

		  
<!--Start services Section-->
<center>
	<section class="services-section" id="services-section">
	   <div class="wrapper">
		  <h2>Specializes In:</h2>
		  <hr>
		  <div class="cols">
			 <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
				   <div class="front" style="background-image: url(https://searhc.org/wp-content/uploads/2019/05/Hypertension-900x500.jpg)">
					  <div class="inner">
						 <b>
							<p>Hypertension</p>
						 </b>
						 <span></span>
					  </div>
				   </div>
				   <div class="back">
					  <div class="inner">
						 <p>Your blood pressure changes throughout the day based on your activities. Having blood pressure measures consistently above normal may result in a diagnosis of high blood pressure
						 </p>
					  </div>
				   </div>
				</div>
			 </div>
			 <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
				   <div class="front" style="background-image: url(https://t4.ftcdn.net/jpg/02/48/54/39/360_F_248543951_y8g0rPBppDUr4BA6cKDMoaXJf504gcuV.jpg)">
					  <div class="inner">
						 <p><b>Diabetes</b></p>
						 <span></span>
					  </div>
				   </div>
				   <div class="back">
					  <div class="inner">
						 <p>Diabetes is a chronic (long-lasting) health condition that affects how your body turns food into energy. Your body breaks down most of the food you eat into sugar (glucose) and releases it into your bloodstream.</p>
					  </div>
				   </div>
				</div>
			 </div>
			 <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
				   <div class="front" style="background-image: url(https://media.istockphoto.com/id/1131684906/vector/pulmonary-medication-concept-in-flat-style-vector.jpg?s=612x612&w=0&k=20&c=ORiQ5mrKcqP3oyhoDJvCLV8rgauFg6jnXH-quHK7DJ0=)">
					  <div class="inner">
						 <p><b>Asthma <br>&<Br> Emphysema</b></p>
						 <span></span>
					  </div>
				   </div>
				   <div class="back">
					  <div class="inner">
						 <p>Both asthma and chronic obstructive pulmonary disease (COPD), including emphysema and chronic bronchitis, make breathing difficult. In fact, they share many similarities. However, they are different lung diseases</p>
					  </div>
				   </div>
				</div>
			 </div>
		  </div>
	   </div>
	   <div class="wrapper">
		  <div class="cols">
			 <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
				   <div class="front" style="background-image: url(https://t4.ftcdn.net/jpg/02/82/12/99/360_F_282129985_4pPu8qWD4C5eSeQNdrPVQAT4df9ZPGeJ.jpg)">
					  <div class="inner">
						 <p><b>Migraine</b></p>
						 <span></span>
					  </div>
				   </div>
				   <div class="back">
					  <div class="inner">
						 <p>A migraine is a headache that can cause severe throbbing pain or a pulsing sensation, usually on one side of the head. It’s often accompanied by nausea, vomiting, and extreme sensitivity to light and sound.
						 </p>
					  </div>
				   </div>
				</div>
			 </div>
			 <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
				   <div class="front" style="background-image: url(https://media.istockphoto.com/id/1364090812/vector/painful-menstruation-concept-trendy-flat-illustration-uterus-inflammation-endometriosis.jpg?s=612x612&w=0&k=20&c=YIAWEug3qjEdEaj1f4_TtWEecIQdUzR5Lgm4qO3enXI=)">
					  <div class="inner">
						 <p><b>Dysmenorrhea</b></p>
						 <span></span>
					  </div>
				   </div>
				   <div class="back">
					  <div class="inner">
						 <br>
						 <p>Menstrual cramps (dysmenorrhea) are throbbing or cramping pains in the lower abdomen. Many women have menstrual cramps just before and during their menstrual periods.</p>
					  </div>
				   </div>
				</div>
			 </div>
			 <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
				   <div class="front" style="background-image: url(https://www.mkmedicine.in/site_control/uploads/sub_category_image/1529127204_2018_06_16.jpg)">
					  <div class="inner">
						 <p><b>Hepatology</b></p>
						 <span></span>
					  </div>
				   </div>
				   <div class="back">
					  <div class="inner">
						 <p>Insomnia is a common sleep disorder that can make it hard to fall asleep, hard to stay asleep, or cause you to wake up too early and not be able to get back to sleep. You may still feel tired when you wake up</p>
					  </div>
				   </div>
				</div>
			 </div>
		  </div>
	   </div>
	   <div class="wrapper">
		  <div class="cols">
			 <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
				   <div class="front" style="background-image: url(https://media.sciencephoto.com/c0/24/43/83/c0244383-800px-wm.jpg)">
					  <div class="inner">
						 <p><b>Rheumatism Arthritis</b></p>
						 <span></span>
					  </div>
				   </div>
				   <div class="back">
					  <div class="inner">
						 <p>Rheumatoid arthritis, or RA, is an autoimmune and inflammatory disease, which means that your immune system attacks healthy cells in your body by mistake, causing inflammation (painful swelling) in the affected parts of the body.
						 </p>
					  </div>
				   </div>
				</div>
			 </div>
			 <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
				   <div class="front" style="background-image: url(https://medlineplus.gov/images/PX000174_PRESENTATION.jpeg)">
					  <div class="inner">
						 <p><b>Parkinson’s Disease</b></p>
						 <span></span>
					  </div>
				   </div>
				   <div class="back">
					  <div class="inner">
						 <p>Parkinson’s disease is a brain disorder that causes unintended or uncontrollable movements, such as shaking, stiffness, and difficulty with balance and coordination.</p>
					  </div>
				   </div>
				</div>
			 </div>
			 <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
				   <div class="front" style="background-image: url(https://img.freepik.com/premium-vector/man-skin-problems-vector-illustration-male-face-with-pimples-dark-spots-wrinkles-acne_81894-1998.jpg)">
					  <div class="inner">
						 <p><b>Eye & Skin Disease</b></p>
						 <span></span>
					  </div>
				   </div>
				   <div class="back">
					  <div class="inner">
						 <p>There are hundreds of different eye diseases and vision problems. Some have no cure, but many others are treatable.Skin disorders vary greatly in symptoms and severity. They can be temporary or permanent, and may be painless or painful.</p>
					  </div>
				   </div>
				</div>
			 </div>
		  </div>
	   </div>
	</section>
 </center>
<!--End services Section-->
<section class="services-section" id="services-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="section-title text-center">Service</h2>
			</div>
			<div class="col-md-4">
				 <div class="services-box">
					 <h3>HILOT</h3>
					 <p>
						"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p><br>
					<p>₱ 950</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="services-box">
					<h3>ACUPUNCTURE</h3>
					<p>
						"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p><br>
				   <p>₱ 1850</p>
			   </div>
		   </div>
		   <div class="col-md-4">
			<div class="services-box">
				<h3>CHECK-UP</h3>
				<p>
					"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p><br>
			   <p>₱ 500</p>
		   </div>
	   </div>
   </div>
</section>

<script type="text/javascript">

function confirm() {
        Swal.fire({
          icon: 'success',
          title: 'Appointment Success',
          showConfirmButton: true,
          timer: 2000
      })
        }
        function delet() {
            Swal.fire(
            'Doctor Deleted!',
            '',
            'success'
            )
      }
      function edit() {
            Swal.fire(
            'Saved Changes!',
            '',
            'success'
            )
      }
      function sweetError(message) {
        Swal.fire({
        icon: 'error',
        title: 'Try Again',
        text: message,
        footer: ''
    })
      }


function alertLoginFailure(message) {
    $('#failedLogin').append(
        '<div class="alert alert-danger d-flex align-items-center" role="alert">' + 
          '<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/>' + '</svg>' +
          '<div>' + message + '</div>' + '</div>'
    )
  }

  setTimeout(function() {
        bootstrap.Alert.getOrCreateInstance(document.querySelector(".alert")).close();
    }, 3000)

	function windowsOpen(){
		window.open("appointments", "_self").reload()
	}

$("#appointmentForm").submit(function(e) {
    e.preventDefault();
    var frm = $("#appointmentForm");
    var data = {};
    $.each(this, function(i, v){
        var input = $(v);
        data[input.attr("name")] = input.val();
        delete data["undefined"];
    });
    $.ajax({
        contentType:"application/json; charset=utf-8",
        type:frm.attr("method"),
        url:frm.attr("action"),
        dataType:'text',
        data: JSON.stringify(data),
        success: function(data) {
			confirm();
			const myTimeout = setTimeout(windowsOpen, 2000);
         
        },
        error: function(error) {
         // console.log(error.responseText.slice(11,-2))
         resAlert = error.responseText.slice(11,-2);
         sweetError(resAlert);
        }
    })
});
</script>
{% endblock %}