{% extends 'clientside/clientBase.html' %}
{% block title %}
<title>Products - Acupuncture and Herbal Medicine with Dr. Lee</title>
{% endblock %}
{% block linkcontent %}
<link rel="stylesheet" href="{{url_for('static', path='/assets/css/navprod.css')}}" type="text/css">
<link rel="stylesheet" href="{{url_for('static', path='/assets/css/product.css')}}" type="text/css">	
<link rel="stylesheet" href="{{url_for('static', path='/assets/css/cart.css')}}" type="text/css">
<link rel="stylesheet" href="{{url_for('static', path='/assets/css/style.css')}}" type="text/css">
<!-- ROLLEN CART  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="{{url_for('static', path='/assets/css/simple_cart.css')}}" rel="stylesheet">
<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block navcontent %}
<nav class="navbar navbar-expand-lg navbar-light">
	<div class="container-fluid">
	<a class="navbar-brand" href="home.html">
	<img src="../static/assets/images/logo.png" alt="">
	</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
			<li class="nav-item">
				<a class="nav-link" aria-current="page" href="/client/home2">Home</a>
			</li>
			<li class="nav">
				<a class="nav-link" href="about2">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="product2">Shop</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="contact2">Contact</a>
			</li>
			<!-- PROFILE NAVBAR -->
			<li class="list-inline-item dropdown notif show">
				<a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="true">Profile
				</a>
				<div class="dropdown-menu dropdown-menu-right profile-dropdown " x-placement="bottom-end" style="position: absolute; transform: translate3d(-108px, 50px, 0px); top: 0px; left: 0px; will-change: transform;">
				<!-- item-->
				<a href="/client/profile" class="dropdown-item notify-item">
				<i class="fa fa-user"></i> <span>Profile</span>
				</a>
				<!-- item-->
				<a href="/client/appointments" class="dropdown-item notify-item">
				<i class="fa fa-address-book-o"></i> <span>My Appointments</span>
				</a>
				<a href="/client/orders" class="dropdown-item notify-item">
				<i class="fa fa-address-book-o"></i> <span>Order List</span>
				</a>
				<!-- item-->
				<a href="/users/logout" class="dropdown-item notify-item">
				<i class="fa fa-power-off"></i> <span>Logout</span>
				</a>
				</div>
			</li>
        <li class="nav-item">
          <a class="nav-link " href="#"><i class="fa-solid fa-cart-shopping my-cart-icon"><span class="badge badge-danger my-cart-badge"></span></i>
          </a>
        </li> 
		</ul>
	</div>
	</div>
</nav>
{% endblock %}

<!--for product na ma angas!!-->
{% block content %}
<section class="shop-section">
    <div class = "products">
       
            <h1 class = "lg-title" style="color:rgb(0, 0, 0)">Special  Offers</h1>
            <p class = "text-light"></p>
            <div class="card-wrapper">
            <div class = "product-items">
                <!-- single product -->
                {% for product in product_list %}
                  
                    <div class = "product">
                        <div class = "product-content">
                            <div class = "product-img">
                                <img src = "../static/images/{{product.product_pic}}" alt = "product image">
                            </div>
                              {% if product.product_quantity == 0 %}
                            <div class = "product-btns">
                                <button class="btn btn-danger my-cart-btn" data-id="{{ product.product_id }}" data-name="{{ product.product_name }}" data-summary="{{ product.product_description }}" data-price="{{ product.product_price }}" data-quantity="1" data-image="../static/images/{{product.product_pic}}" disabled>SOLD OUT
                                </button>
                            </div>
                              {% else %}
                              <div class = "product-btns">
                                <button class="btn btn-success my-cart-btn" data-id="{{ product.product_id }}" data-name="{{ product.product_name }}" data-summary="{{ product.product_description }}" data-price="{{ product.product_price }}" data-quantity="1" data-image="../static/images/{{product.product_pic}}"> ADD TO CART
                                </button>
                                <button type = "button" class = "btn-buy"> buy now
                                </button>
                            </div>
                            {%  endif %}
                        </div>
                        
                          
                         
                        <div class = "product-info">
                            <div class = "product-info-top">
                                <h2 class = "sm-title"></h2>
                                <div class = "rating">
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "far fa-star"></i></span>
                                </div>
                            </div>
                            <a href = "#" class = "product-name">{{ product.product_name }}</a>
                            <p class = "product-price">₱  {{ product.product_price }}.00</p>
                            <p class = "product-price">₱  {{ product.product_discount }}.00</p>
                        </div>
                    </div>
                    
                {% endfor %}
                <!-- end of single product -->
            </div>
        </div>
    </div>
</section>

</script>

<script>
  function sweetSuccess(msg){
    Swal.fire({
    position: 'center-center',
    icon: 'success',
    title: "Order Placed!",
    showConfirmButton: true,
    timer: 15000
})
  }

  function closing(){
    
  }

  </script>
<!-- ROLLEN CART JS  -->
<script src="{{url_for('static', path='/assets/js/jquery-2.2.3.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', path='/assets/js/jquery.mycart2.js')}}"></script>
<script type="text/javascript">
 $(function () {
     var goToCartIcon = function($addTocartBtn){
     var $cartIcon = $(".my-cart-icon");
     var $image = $('<img width="30px" height="30px" src="' + $addTocartBtn.data("image") + '"/>').css({"position": "fixed", "z-index": "999"});
     $addTocartBtn.prepend($image);
     var position = $cartIcon.position();
     $image.animate({
       top: position.top,
       left: position.left
     }, 0 , "linear", function() {
       $image.remove();
     });
   }

   $('.my-cart-btn').myCart({
     currencySymbol: '₱',
     classCartIcon: 'my-cart-icon',
     classCartBadge: 'my-cart-badge',
     classProductQuantity: 'my-product-quantity',
     classProductRemove: 'my-product-remove',
     classCheckoutCart: 'my-cart-checkout',
     affixCartIcon: true,
     showCheckoutModal: true,
     numberOfDecimals: 2,
     cartItems: [],
     clickOnAddToCart: function($addTocart){
       goToCartIcon($addTocart);
     },
     afterAddOnCart: function(products, totalPrice, totalQuantity) {
       console.log("afterAddOnCart", products, totalPrice, totalQuantity);
     },
     clickOnCartIcon: function($cartIcon, products, totalPrice, totalQuantity) {
       console.log("cart icon clicked", $cartIcon, products, totalPrice, totalQuantity);
     },
     checkoutCart: function(products, totalPrice, totalQuantity) {
      var checkoutString = "\nTotal Price: " + totalPrice + "\nTotal Quantity: " + totalQuantity;
      //  checkoutString += "\n\n id \t name \t summary \t price \t quantity \t image path";

      Swal.fire({
        title: 'Do you want to checkout?' + checkoutString,
        showDenyButton: true,
        width: 700,
        confirmButtonText: 'Yes',
        denyButtonText: 'No',
        customClass: {
          actions: 'my-actions',
          confirmButton: 'order-2',
          denyButton: 'order-3',
        }
      }).then((result) => {
        if (result.isConfirmed) {
        $.each(products, function(){
         checkoutString += ("\n " + this.name + " \t " + this.price + " \t " + this.quantity);
         $.ajax({
                url: "https://fth-clinic.herokuapp.com/orders",
                type: "post",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                    order_productid: this.id,
                    order_remarks: this.summary,
                    order_quantity: this.quantity,
                }),

            }).then(setTimeout(location.reload.bind(location), 15000));
       });

       sweetSuccess(checkoutString)
       console.log("checking out", products, totalPrice, totalQuantity);  
        } else if (result.isDenied) {
          Swal.fire('Orders not placed!', '', 'info')
        }
      })                                                                                                                                                                                                                                                                                                                                                                                    
     },
     getDiscountPrice: function(products, totalPrice, totalQuantity) {
       console.log("calculating discount", products, totalPrice, totalQuantity);
       return totalPrice * 0.2;
     }
   });

   $("#addNewProduct").click(function(event) {
     var currentElementNo = $(".row").children().length + 1;
     $(".row").append('<div class="col-md-3 text-center"><img src="images/img_empty.png" width="150px" height="150px"><br>product ' + currentElementNo + ' - <strong>$' + currentElementNo + '</strong><br><button class="btn btn-danger my-cart-btn" data-id="' + currentElementNo + '" data-name="product ' + currentElementNo + '" data-summary="summary ' + currentElementNo + '" data-price="' + currentElementNo + '" data-quantity="1" data-image="images/img_empty.png">Add to Cart</button><a href="#" class="btn btn-info">Details</a></div>')
   });
 });
 
 </script>
{% endblock %}