{% extends 'clientside/clientBase.html' %}
{% block title %}
<title>Products - Acupuncture and Herbal Medicine with Dr. Lee</title>
{% endblock %}
{% block linkcontent %}
<link rel="stylesheet" href="{{url_for('static', path='/assets/css/product.css')}}" type="text/css">	
<link rel="stylesheet" href="{{url_for('static', path='/assets/css/cart.css')}}" type="text/css">
<!-- ROLLEN CART  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="{{url_for('static', path='/assets/css/simple_cart.css')}}" rel="stylesheet">
<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}


<!--for product na ma angas!!-->
{% block content %}
<section class="shop-section">
    <div class = "products">
            <h1 class = "lg-title" style="color:rgb(0, 0, 0)">Special  Offers</h1>
            <p class = "text-light"></p>
            <div class="card-wrapper">
            <div class = "product-items">
                <!-- single product -->
                {% for product in product_list %}
                  
                    <div class = "product">
                        <div class = "product-content">
                            <div class = "product-img">
                                <img src = "../static/images/{{product.product_pic}}" alt = "product image">
                            </div>
                              {% if product.product_quantity == 0 %}
                            <div class = "product-btns">
                                <button class="btn btn-danger my-cart-btn" data-id="{{ product.product_id }}" data-name="{{ product.product_name }}" data-summary="{{ product.product_description }}" data-price="{{ product.product_price }}" data-quantity="1" data-image="../static/images/{{product.product_pic}}" disabled>SOLD OUT
                                </button>
                            </div>
                              {% else %}
                              <div class = "product-btns">
                                <button class="btn btn-success my-cart-btn" data-id="{{ product.product_id }}" data-name="{{ product.product_name }}" data-summary="{{ product.product_description }}" data-price="{{ product.product_price }}" data-quantity="1" data-image="../static/images/{{product.product_pic}}"> ADD TO CART
                                </button>
                                <button type = "button" class = "btn-buy"> buy now
                                </button>
                            </div>
                            {%  endif %}
                        </div>
                        
                          
                         
                        <div class = "product-info">
                            <div class = "product-info-top">
                                <h2 class = "sm-title"></h2>
                                <div class = "rating">
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "far fa-star"></i></span>
                                </div>
                            </div>
                            <a href = "#" class = "product-name">{{ product.product_name }}</a>
                            <p class = "product-price">₱  150.00</p>
                            <p class = "product-price">₱  {{ product.product_price }}.00</p>
                        </div>
                    </div>
                    
                {% endfor %}
                <!-- end of single product -->
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title" id="exampleModalLabel">
            Your Shopping Cart
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-image">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Qty</th>
                <th scope="col">Total</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="w-25">
                  <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/vans.png" class="img-fluid img-thumbnail" alt="Sheep">
                </td>
                <td>Vans Sk8-Hi MTE Shoes</td>
                <td>89$</td>
                <td class="qty"><input type="text" class="form-control" id="input1" value="2"></td>
                <td>178$</td>
                <td>
                  <a href="#" class="btn btn-danger btn-sm">
                    <i class="fa fa-times"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table> 
          <div class="d-flex justify-content-end">
            <h5>Total: <span class="price text-success">89$</span></h5>
          </div>
        </div>
        <div class="modal-footer border-top-0 d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success"  onclick="alert()" >Checkout</button>
        </div>
      </div>
    </div>
  </div>

</script>
<!-- ROLLEN CART JS  -->
<script src="{{url_for('static', path='/assets/js/jquery-2.2.3.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', path='/assets/js/jquery.mycart.js')}}"></script>
<script type="text/javascript">
 $(function () {
     var goToCartIcon = function($addTocartBtn){
     var $cartIcon = $(".my-cart-icon");
     var $image = $('<img width="30px" height="30px" src="' + $addTocartBtn.data("image") + '"/>').css({"position": "fixed", "z-index": "999"});
     $addTocartBtn.prepend($image);
     var position = $cartIcon.position();
     $image.animate({
       top: position.top,
       left: position.left
     }, 0 , "linear", function() {
       $image.remove();
     });
   }

   $('.my-cart-btn').myCart({
     currencySymbol: '₱',
     classCartIcon: 'my-cart-icon',
     classCartBadge: 'my-cart-badge',
     classProductQuantity: 'my-product-quantity',
     classProductRemove: 'my-product-remove',
     classCheckoutCart: 'my-cart-checkout',
     affixCartIcon: true,
     showCheckoutModal: true,
     numberOfDecimals: 2,
     cartItems: [],
     clickOnAddToCart: function($addTocart){
       goToCartIcon($addTocart);
     },
     afterAddOnCart: function(products, totalPrice, totalQuantity) {
       console.log("afterAddOnCart", products, totalPrice, totalQuantity);
     },
     clickOnCartIcon: function($cartIcon, products, totalPrice, totalQuantity) {
       console.log("cart icon clicked", $cartIcon, products, totalPrice, totalQuantity);
     },
     checkoutCart: function(products, totalPrice, totalQuantity) {
       var checkoutString = "Total Price: " + totalPrice + "\nTotal Quantity: " + totalQuantity;
       checkoutString += "\n\n id \t name \t summary \t price \t quantity \t image path";
       $.each(products, function(){
         checkoutString += ("\n " + this.id + " \t " + this.name + " \t " + this.summary + " \t " + this.price + " \t " + this.quantity + " \t " + this.image);
         $.ajax({
                url: "http://127.0.0.1:8000/orders",
                type: "post",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                    order_productid: this.id,
                    order_remarks: this.summary,
                    order_quantity: this.quantity,
                }),

            }).then(setTimeout(location.reload.bind(location), 200));
       });

       alert(checkoutString)
       console.log("checking out", products, totalPrice, totalQuantity);                                                                                                                                                                                                                                                                                                                                                                                      
     },
     getDiscountPrice: function(products, totalPrice, totalQuantity) {
       console.log("calculating discount", products, totalPrice, totalQuantity);
       return totalPrice * 0.5;
     }
   });

   $("#addNewProduct").click(function(event) {
     var currentElementNo = $(".row").children().length + 1;
     $(".row").append('<div class="col-md-3 text-center"><img src="images/img_empty.png" width="150px" height="150px"><br>product ' + currentElementNo + ' - <strong>$' + currentElementNo + '</strong><br><button class="btn btn-danger my-cart-btn" data-id="' + currentElementNo + '" data-name="product ' + currentElementNo + '" data-summary="summary ' + currentElementNo + '" data-price="' + currentElementNo + '" data-quantity="1" data-image="images/img_empty.png">Add to Cart</button><a href="#" class="btn btn-info">Details</a></div>')
   });
 });
 
</script>
<script>
  function alert(){
    window.open("login", "_self").reload()
    alert("Please Log in");
  }
</script>
{% endblock %}