{% extends 'clientside/clientBase.html' %}
{% block title %}
<title>Profile - Acupuncture and Herbal Medicine with Dr. Lee</title>
{% endblock %}
{% block navcontent %}
<nav class="navbar navbar-expand-lg navbar-light">
	<div class="container-fluid">
	   <a class="navbar-brand" href="home.html">
	   <img src="../static/assets/images/logo.png" alt="">
	   </a>
	   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	   <span class="navbar-toggler-icon"></span>
	   </button>
	   <div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
			 <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/users/home2">Home</a>
			 </li>
			 <li class="nav">
				<a class="nav-link" href="about2">About</a>
			 </li>
			 <li class="nav-item">
				<a class="nav-link" href="product2">Shop</a>
			 </li>
			 <li class="nav-item">
				<a class="nav-link" href="contact2">Contact</a>
			 </li>
			 <!-- PROFILE NAVBAR -->
			 <li class="list-inline-item dropdown notif show">
				<a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="true">Profile
				</a>
				<div class="dropdown-menu dropdown-menu-right profile-dropdown " x-placement="bottom-end" style="position: absolute; transform: translate3d(-108px, 50px, 0px); top: 0px; left: 0px; will-change: transform;">
				   <!-- item-->
				   <div class="dropdown-item noti-title">
					  {%for datas in data %}
					  <h5 class="text-overflow"><small>Hello,{{data.user_username}}</small> </h5>
					  {%endfor %}
				   </div>
				   <!-- item-->
				   <a href="/users/profile" class="dropdown-item notify-item">
				   <i class="fa fa-user"></i> <span>Profile</span>
				   </a>
				   <!-- item-->
				   <a href="/users/appointments" class="dropdown-item notify-item">
				   <i class="fa fa-user"></i> <span>My Appointments</span>
				   </a>
                   <a href="/users/orders" class="dropdown-item notify-item">
					<i class="fa fa-address-book-o"></i> <span>Order List</span>
				    </a>
				   <!-- item-->
				   <a href="/users/logout" class="dropdown-item notify-item">
				   <i class="fa fa-power-off"></i> <span>Logout</span>
				   </a>
				</div>
			 </li>
		  </ul>
	   </div>
	</div>
 </nav>
{% endblock %}
{% block content %}
<!--End Header	-->
{% for profiles in profile %}
    {% if profiles.cl_user_credential == profile[-1] %}
        <section>
            <div class="container">
                <div class="row mt-lg-5">
                    <div class="col-md-6 col-lg-4">
                        <div class="rounded shadow overflow-hidden sticky-bar">
                            <div class="card border-0">
                                <img src="../static/images/{{profiles.cl_pic}}" class="img-fluid" alt="">
                            </div>
            
                            <div class="text-center avatar-profile margin-nagative mt-n5 position-relative pb-4 border-bottom">
                                <!-- <img src="https://images.unsplash.com/photo-1488998527040-85054a85150e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" class="rounded-circle shadow-md avatar avatar-md-md" alt="" style="max-width:100px; max-height: 100px"> -->
                                <h5 class="mt-3 mb-1">{{profiles.cl_fullName}}</h5>
                                <p class="text-muted mb-0">{{profiles.cl_age}}</p>
                            </div>
            
                            <div class="list-unstyled p-4">
                                
            
                                <div class="d-flex align-items-center mt-2">
                                    <i class="uil uil-user align-text-bottom text-primary h5 mb-0 me-2"></i>
                                    <h6 class="mb-0">Gender</h6>
                                    <p class="text-muted mb-0 ms-2">{{profiles.cl_gender}}</p>
                                </div>
                                
                                <div class="d-flex align-items-center mt-2">
                                    <i class="uil uil-envelope align-text-bottom text-primary h5 mb-0 me-2"></i>
                                    <h6 class="mb-0">Birthday</h6>
                                    <p class="text-muted mb-0 ms-2">{{profiles.cl_birthdate}}</p>
                                </div>
                                
                                <div class="d-flex align-items-center mt-2">
                                    <i class="uil uil-book-open align-text-bottom text-primary h5 mb-0 me-2"></i>
                                    <h6 class="mb-0">Phone No.</h6>
                                    <p class="text-muted mb-0 ms-2">{{profiles.cl_contactNo}}</p>
                                </div>
                                
                                <div class="d-flex align-items-center mt-2">
                                    <i class="uil uil-italic align-text-bottom text-primary h5 mb-0 me-2"></i>
                                    <h6 class="mb-0">Address</h6>
                                    <p class="text-muted mb-0 ms-2">{{profiles.cl_address}}</p>
                                </div>
                                
                                <div class="d-flex align-items-center mt-2">
                                    <i class="uil uil-heart-medical align-text-bottom text-primary h5 mb-0 me-2"></i>
                                    <h6 class="mb-0">Marital Status</h6>
                                    <p class="text-muted mb-0 ms-2">{{profiles.cl_maritalStatus}}</p>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
            
                    <div class="col-lg-8 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="card border-0 shadow overflow-hidden">
                            <ul class="nav nav-pills nav-justified flex-column flex-sm-row rounded-0 shadow overflow-hidden bg-light mb-0" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link rounded-0 active" id="overview-tab" data-bs-toggle="pill" href="#pills-overview" role="tab" aria-controls="pills-overview" aria-selected="true">
                                        <div class="text-center pt-1 pb-1">
                                            <h4 class="title fw-normal mb-0">Profile</h4>
                                        </div>
                                    </a><!--end nav link-->
                                </li><!--end nav item-->
                                
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link rounded-0" id="experience-tab" data-bs-toggle="pill" href="#pills-experience" role="tab" aria-controls="pills-experience" aria-selected="false" tabindex="-1">
                                        <div class="text-center pt-1 pb-1">
                                            <h4 class="title fw-normal mb-0">Profile Settings</h4>
                                        </div>
                                    </a><!--end nav link-->
                                </li><!--end nav item-->
                            </ul>
            
                            <div class="tab-content p-4" id="pills-tabContent">
                                <div class="tab-pane fade active show" id="pills-overview" role="tabpanel" aria-labelledby="overview-tab">
                                    <h5 class="mb-0">Introduction:</h5>
            
                                    <p class="text-muted mt-4 mb-0">Web designers to occupy the space which will later be filled with 'real' content. This is required when, for example, the final text is not yet available. Dummy text is also known as 'fill text'. Dummy texts have been in use by typesetters since the 16th century.</p>
                                    <div class="row">

                                        <div class="col-lg-6 col-12 mt-4">
                                            <h5>Appointment List</h5>
                                            {% for appointment in profile %}
                                            {% if appointment.ap_clientID == profile[-1] and appointment.ap_status == 'Unpaid' %}
                                            <div class="d-flex justify-content-between align-items-center rounded p-3 shadow mt-3">
                                                <i class="uil uil-folder-medical h3 fw-normal text-primary mb-0"></i>
                                                <div class="flex-1 overflow-hidden ms-2">
                                                    <h6 class="mb-0">{{appointment.ap_service}}</h6>
                                                    <p class="text-muted mb-0 text-truncate small">₱ {{appointment.ap_amount}}</p>
                                                </div>
                                                <span class="mb-0">{{appointment.ap_date}}</span>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
            
                                        <div class="col-lg-6 col-12 mt-4">
                                            <h5>Payment List</h5>
            
                                            <div class="d-flex justify-content-between align-items-center rounded p-3 shadow mt-3">
                                                <div class="flex-1 overflow-hidden">
                                                    <h6 class="flex-1 mb-0">Cardiogram</h6>
                                                    <p class="text-muted mb-0 text-truncate small">Full bill paid</p>
                                                </div>
                                                <a href="#" class="btn btn-icon btn-primary" data-toggle="modal" data-target="#view-invoice"><i class="uil uil-clipboard-notes icons"></i></a>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
            
                                <div class="tab-pane fade" id="pills-experience" role="tabpanel" aria-labelledby="experience-tab">
                                    <h5 class="mb-0">Personal Information :</h5>
                                    <div class="row align-items-center mt-4">
                                        <div class="col-lg-2 col-md-4">
                                            <img src="../static/images/{{profiles.cl_pic}}" class="avatar avatar-md-md rounded-pill shadow mx-auto d-block" alt="">
                                        </div><!--end col-->
            
                                        <div class="col-lg-5 col-md-8 text-center text-md-start mt-4 mt-sm-0">
                                            <h6 class=""></h6>
                                        </div><!--end col-->
            
                                        <div class="col-lg-5 col-md-12 text-lg-right text-center mt-4 mt-lg-0">
                                            <form action="http://127.0.0.1:8000/client/uploadProfile/{{profiles.cl_id}}" method="POST" enctype="multipart/form-data">
                                                <input type="file" name="file">
                                                <input type="submit" value="Upload">
                                            </form>
                                        </div><!--end col-->
                                    </div><!--end row-->    
            
                                    <form action="http://127.0.0.1:8000/client/{{profiles.cl_id}}" method="POST" class="mt-4">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">First Name</label>
                                                    <input name="cl_firstName" type="text" value="{{profiles.cl_firstName}}" class="form-control" placeholder="First Name :">
                                                </div>
                                            </div><!--end col-->

                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Your Email</label>
                                                    <input name="user_email" type="email" value="{{profiles.user_email}}" class="form-control" placeholder="Your email :">
                                                </div> 
                                            </div><!--end col-->

                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Middle Name</label>
                                                    <input name="cl_middleName" value="{{profiles.cl_middleName}}" type="text" class="form-control" placeholder="Middle Name :">
                                                </div>
                                            </div><!--end col-->

                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Phone no.</label>
                                                    <input name="cl_contactNo" value="{{profiles.cl_contactNo}}" type="text" class="form-control" placeholder="Phone no. :">
                                                </div>                                                                               
                                            </div><!--end col-->

                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Last Name</label>
                                                    <input name="cl_lastName" type="text" value="{{profiles.cl_lastName}}" class="form-control" placeholder="Last Name :">
                                                </div>
                                            </div><!--end col-->

                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Marital Status</label>
                                                    <select class="form-control" value="{{profile.cl_maritalStatus}}" name="cl_maritalStatus">
                                                        <option value="Single">Single</option>
                                                        <option value="Married">Married</option>
                                                    </select>   
                                                </div>                                                                               
                                            </div><!--end col-->

                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">House No. </label>
                                                    <input name="cl_houseNo" type="text" value="{{profiles.cl_houseNo}}" class="form-control" placeholder="House No. :">
                                                </div>
                                            </div><!--end col-->

                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Street</label>
                                                    <input name="cl_street" type="text" value="{{profiles.cl_street}}" class="form-control" placeholder="Street :">
                                                </div>
                                            </div><!--end col-->

                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Barangay</label>
                                                    <input name="cl_brgy" type="text" value="{{profiles.cl_brgy}}" class="form-control" placeholder="Barangay :">
                                                </div>
                                            </div><!--end col-->

                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">City</label>
                                                    <input name="cl_city" type="text" value="{{profiles.cl_city}}" class="form-control" placeholder="City :">
                                                </div>
                                            </div><!--end col-->
    
                                        </div><!--end row-->
                                        
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <input type="submit" class="btn btn-primary" value="Save changes" onclick="update()">
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </form><!--end form-->
            
                                    <div class="mt-4 pt-2">
                                        <h5 class="mb-0">Change Password :</h5>
                                        {% for usercred in profile %}
                                            {% if usercred.user_id == profile[-1] %}
                                                <form action="http://127.0.0.1:8000/usercredential/pass/{{usercred.user_id}}" method="POST" class="mt-4">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="mb-3">
                                                                <label class="form-label">Old password :</label>
                                                                <input type="password" name="old_password" class="form-control" placeholder="Old password" required="">
                                                            </div>
                                                        </div><!--end col-->
                    
                                                        <div class="col-lg-12">
                                                            <div class="mb-3">
                                                                <label class="form-label">New password :</label>
                                                                <input type="password" name="user_password" class="form-control" placeholder="New password" required="">
                                                            </div>
                                                        </div><!--end col-->
                    
                                                        <div class="col-lg-12">
                                                            <div class="mb-3">
                                                                <label class="form-label">Re-type New password :</label>
                                                                <input type="password" name="user_passwordre" class="form-control" placeholder="Re-type New password" required="">
                                                            </div>
                                                        </div><!--end col-->
                    
                                                        <div class="col-lg-12 mt-2 mb-0">
                                                            <button type="submit" class="btn btn-primary" onclick="confirm()">Save password</button>
                                                        </div><!--end col-->
                                                    </div><!--end row-->
                                                </form>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    
                                    
            
                                    <div class="mt-4 pt-2">
                                        <h5 class="mb-0 text-danger">Delete Account :</h5>
            
                                        <p class="mb-0 mt-4">Do you want to delete the account? Please press below "Delete" button</p>
                                        <div class="mt-4">
                                            <button class="btn btn-danger">Delete Account</button>
                                        </div><!--end col-->
                                    </div>
                                </div>
                            </div>                     
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div>
        </section>
    {% endif %}
{% endfor %}
<script>
    function confirm() {
      Swal.fire(
        'Password Changed!',
        '',
        'success'
      )
    }

    function update() {
      Swal.fire(
        'Saved Changes!',
        '',
        'success'
      )
    }
  </script>
{% endblock %}



