{% extends 'clientside/clientBase.html' %}
{% block title %}
<title>Register - Acupuncture and Herbal Medicine with Dr. Lee</title>
{% endblock %}

{% block content %}

<section>
   <div class="card" style="border-top-right-radius: 50%">
     <div class="container">
       <div class="col-md-12 mb-4">
         <h2 class="h4"></h2>
         <br>
         <br>
         <br>
         <div class="container">
           <div class="card" style="border-radius: 00rem 0 0 0rem; z-index:10">
             <form method="POST" class="form">
               <h4 class="text-center">Registration Form</h4>
               <!-- Progress bar -->
               <center>
                 <div class="progressbar">
                   <div class="progress" id="progress"></div>
                   <div class="progress-step progress-step-active" data-title="User&nbsp;ID"></div>
                   <div class="progress-step" data-title="Contact&nbsp;Information"></div>
                 </div>
                 <br>
                 <!-- Steps -->
                 <div class="form-step form-step-active">
                   <div class="input-group">
                     <label for="userID">
                       <span class="o-label">Email or Username</span>
                     </label>
                     <input type="text" id="username" name="user_username" required="active" placeholder="Email or Username" />
                   </div>
                   <div class="input-group">
                     <label for="password">
                       <span class="o-label">Password</span>
                     </label>
                     <input type="password" id="password" name="user_password" required="active" placeholder="Password" />
                   </div>
                   <div class="">
                     <a href="#" class="btn btn-next width-50 ml-auto">Next</a>
                   </div>
                 </div>
               </center>
               <div class="form-step">
                 <div class="input-group">
                   <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                         <span class="o-label">First Name</span>
                         <input type="text" class="form-control" name="cl_firstName" required="active" placeholder="First Name">
                       </div>
                     </div>
                     <div class="col-md-6">
                       <div class="form-group">
                         <span class="o-label"> Marital status</span>
                         <select required input type="text" class="form-control" name="cl_maritalStatus" required="active">
                           <option disabled selected hidden>Status</option>
                           <option value="Single">Single</option>
                           <option value="Married">Married</option>
                           <option value="Separated">Separated</option>
                           <option value="Divorced">Divorced</option>
                           <option value="Widowed">Widowed</option>
                         </select>
                       </div>
                     </div>
                     <div class="col-md-6">
                       <div class="form-group">
                         <span class="o-label">Middle Name</span>
                         <input type="text" class="form-control" required="active" name="cl_middleName" placeholder="Middle Name">
                       </div>
                     </div>
                     <div class="col-md-6">
                       <div class="form-group">
                         <span class="o-label">Date of Birth</span>
                         <input type="date" class="form-control appointment_date" name="cl_birthdate" required="active" placeholder="">
                       </div>
                     </div>
                     <div class="col-md-6">
                       <div class="form-group">
                         <span class="o-label">Last Name</span>
                         <input type="text" required="active" class="form-control" name="cl_lastName" placeholder="Last Name">
                       </div>
                     </div>
                     <div class="col-md-6">
                       <div class="form-group">
                         <span class="o-label">Email</span>
                         <input type="text" class="form-control" required="active" name="user_email" placeholder="Email">
                       </div>
                     </div>
                     <div class="col-md-6">
                       <div class="form-group">
                         <span class="o-label">Gender</span>
                         <select required input type="text" class="form-control" required="active" name="cl_gender" placeholder="Gender">
                           <option disabled selected hidden>Gender</option>
                           <option value="Male">Male</option>
                           <option value="Female">Female</option>
                           <option value="Others">Others</option>
                         </select>
                       </div>
                     </div>
                     <div class="col-md-6">
                       <div class="form-group">
                         <span class="o-label">House No.</span>
                         <input type="text" class="form-control" required="active" name="cl_houseNo" placeholder="#">
                       </div>
                     </div>
                     <div class="col-md-6">
                       <div class="form-group">
                         <span class="o-label">Street</span>
                         <input type="text" class="form-control" required="active" name="cl_street" placeholder="Street">
                       </div>
                     </div>
                     <div class="col-md-6">
                       <div class="form-group">
                         <span class="o-label">Barangay</span>
                         <input type="text" class="form-control" required="active" name="cl_brgy" placeholder="Brgy">
                       </div>
                     </div>
                     <div class="col-md-6">
                       <div class="form-group">
                         <span class="o-label">City</span>
                         <input type="text" class="form-control" required="active" name="cl_city" placeholder="City">
                       </div>
                     </div>
                     <div class="col-md-6">
                       <div class="form-group">
                         <span class="o-label">Contact No.</span>
                         <input type="text" class="form-control" required="active" name="cl_contactNo" placeholder="Contact No.">
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="btns-group">
                   <a href="#" class="btn btn-prev">Previous</a>
                   <button type="submit" class="btn btn-outline-success">Register </a>
                 </div>
               </div>
           </div>
           </form>
         </div>
       </div>
     </div>
 </section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Privacy Policy for Faith Hope Love</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         {% include 'clientside/privacy.html' %}
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
         <button type="button" class="btn btn-success" data-bs-dismiss="modal">I Agree</button>
       </div>
     </div>
   </div>
 </div>

<script type="text/javascript">
   $(window).on('load', function() {
       $('#exampleModal').modal('show');
   });
</script>

<script>
const prevBtns = document.querySelectorAll(".btn-prev");
const nextBtns = document.querySelectorAll(".btn-next");
const progress = document.getElementById("progress");
const formSteps = document.querySelectorAll(".form-step");
const progressSteps = document.querySelectorAll(".progress-step");

let formStepsNum = 0;

nextBtns.forEach((btn) => {
	btn.addEventListener("click", () => {
		formStepsNum++;
		updateFormSteps();
		updateProgressbar();
	});
});

prevBtns.forEach((btn) => {
	btn.addEventListener("click", () => {
		formStepsNum--;
		updateFormSteps();
		updateProgressbar();
	});
});

function updateFormSteps() {
	formSteps.forEach((formStep) => {
		formStep.classList.contains("form-step-active") &&
			formStep.classList.remove("form-step-active");
	});

	formSteps[formStepsNum].classList.add("form-step-active");
}

function updateProgressbar() {
	progressSteps.forEach((progressStep, idx) => {
		if (idx < formStepsNum + 1) {
			progressStep.classList.add("progress-step-active");
		} else {
			progressStep.classList.remove("progress-step-active");
		}
	});

	const progressActive = document.querySelectorAll(".progress-step-active");

	progress.style.width =
		((progressActive.length - 1) / (progressSteps.length - 1)) * 100 + "%";
}
 </script>

{% endblock %}