{% extends 'clientside/clientBase.html' %}
{% block title %}
<title>Register - Acupuncture and Herbal Medicine with Dr. Lee</title>
{% endblock %}
{% block linkcontent %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="{{url_for('static', path='/assets/css/register.css')}}" type="text/css">	
{% endblock %}
{% block content %}
<br><br><br><br>
<style>
  input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        display: none;
      }
  .password-weak {
    border: 2px solid red;
  }

  .password-strong {
    border: 2px solid green;
  }
  /* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}
.card{
  z-index: 0 !important;
}
.valid:before {
  position: relative;
  
  content: "✔";
  color:green !important;
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  color:red !important;
  content: "✖";
 
}
</style>
<section >
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>
  
   <div class="card" style="border-top-right-radius: 50% ; ">
     <div class="container">
       <div class="col-md-12 mb-4">
         <h2 class="h4"></h2>
         <br>
         <br>
         <br>
         <div class="container">
           <div class="card" style="border-radius: 00rem 0 0 0rem; z-index:10">
             <form action="http://127.0.0.1:8000/users/register" method="POST" class="form needs-validation registerForm" id="registerForm" class="" novalidate>
               <h4 class="text-center">Registration Form</h4>
               <!-- Progress bar -->
               <center>
                 <div class="progressbar">
                   <div class="progress" id="progress"></div>
                   <div class="progress-step progress-step-active" data-title="User&nbsp;ID"></div>
                   <div class="progress-step" data-title="Contact&nbsp;Information"></div>
                 </div>
                 <br>
                 <!-- Steps -->
                 <div id="failedRegister"></div>
                 <div class="form-step form-step-active">
                   <div class="form-floating form-outline flex-fill mb-0 mt-3 " style="text-align:left !important">
                      
                     <input required class="form-control" type="text" id="username" name="user_username" placeholder="Username" />
                     <label class="form-label" for="username">Username<span style="color:red">*</span></label>
                     <div id="invalid_username"></div>
                   </div>
                   <div class="form-floating form-outline flex-fill mb-0 mt-3 " style="text-align: left !important">
                    
                     <input required type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="form-control" id="password" name="user_password" placeholder="Password" onChange="onChange()"/>
                     <label for="password" class="form-label">Password<span style="color:red">*</span></label>
                     <!-- <span id="password-error" style="font-size: 15px;"></span> -->
                    
                     <div id="password_invalid1"></div>
                    <div id="message" style="margin-top: 10px; padding: 10px; box-sizing: border-box; border: 1px #dc143c;background-color: #ffcccb; border-radius: 5px;">
                      <label><b>Password must contain the following:</b> </label>
                      <p id="letter" class="invalid"> A <b>lowercase</b> letter</p>
                      <p id="capital" class="invalid"> A <b>capital (uppercase)</b> letter</p>
                      <p id="number" class="invalid"> A <b>number</b></p>
                      <p id="length" class="invalid"> Minimum <b>8 characters</b></p>
                    </div>
                    </div>
                    <div class="form-floating form-outline flex-fill mb-3 mt-3 text-right" style="text-align: left !important">
                      <input type="password" id="password2" class="form-control" required placeholder="Re-type Password" onChange="onChange()"/>
                      <label for="password2" class="form-label">Re-type Password<span style="color:red">*</span></label>
                      <!-- <span id="password-error" style="font-size: 15px;"></span> -->
                     
                      <div id="password_invalid2"></div>
                     </div>
                    
                     
                      
                   
                   <div class="">
                     <!-- <a href="#" role="button"  class="btn btn-next ">Next</a> -->
                     <button type="button" id="btn-to-nxt-form" class="btn btn-next btn-success width-50 ml-auto">Next</button>
                   </div>
                 </div>
               </center>
               <div class="form-step">
                 <div class="input-group">
                   <div class="row">
                     <div class="col-md-6">
                       <div class="form-floating form-outline flex-fill mb-0 mt-3 ">
                         
                         <input type="text" id="firstname" class="form-control " name="cl_firstName"  placeholder="First Name" required>
                         <label class="form-label" for="firstname">Firstname<span style="color: red;">*</span></label>
                         <!-- <div class="invalid-feedback">
                          Doesn't look good!
                        </div> -->
                       </div>
                       
                     </div>

                     <div class="col-md-6">
                       <div class="form-group form-floating form-outline flex-fill mb-0 mt-3">
                         <select class="form-control" name="cl_maritalStatus" id="marital_status" placeholder="Marital Status">
                           <option disabled selected hidden value="">Status</option>
                           <option value="Single">Single</option>
                           <option value="Married">Married</option>
                           <option value="Separated">Separated</option>
                           <option value="Divorced">Divorced</option>
                           <option value="Widowed">Widowed</option>
                         </select>
                         <label class="form-label" for="marital_status">Marital Status</label>
                       </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group form-floating form-outline flex-fill mb-0 mt-3">
                         <input type="text" id="middle_name" class="form-control" name="cl_middleName" placeholder="Middle Name">
                         <label class="form-label" for="middle_name">Middle Name</label>
                       </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group form-floating form-outline flex-fill mb-0 mt-3">
                         <input type="date" id="dob" class="form-control appointment_date" name="cl_birthdate" required="active" placeholder="Date of Birth">
                         <label class="form-label" for="dob">Date of Birth<span style="color: red;">*</span></label>
              
                       </div>
                     </div>

                     <div class="col-md-6">
                       <div class="form-group form-floating form-outline flex-fill mb-0 mt-3">
                         <input type="text" id="last_name" required="active" class="form-control" name="cl_lastName" placeholder="Last Name">
                         <label class="form-label" for="last_name">Last Name<span style="color: red;">*</span></label>
                       </div>
                     </div>

                     <div class="col-md-6">
                      <div class="form-group form-floating form-outline flex-fill mb-0 mt-3">
                        <input type="email" id="email_" class="form-control" required="active" name="user_email" placeholder="Email">
                        <label class="form-label" for="email_">E-mail<span style="color: red;">*</span></label>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group form-floating form-outline flex-fill mb-0 mt-3">
                        <select class="form-control" name="cl_gender" id="gender" placeholder="Gender">
                          <option disabled selected hidden value="">Gender</option>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                          <option value="Others">Others</option>
                        </select>
                        <label class="form-label" for="gender">Gender</label>
                      </div>
                    </div>

                     <div class="col-md-6">
                      <div class="form-group form-floating form-outline flex-fill mb-0 mt-3">
                        <input type="number" min="0" id="house_no" class="form-control" required="active" name="cl_houseNo" placeholder="#" oninput="this.value = Math.abs(this.value)">
                        <label class="form-label" for="house_no">House Number<span style="color: red;">*</span></label>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group form-floating form-outline flex-fill mb-0 mt-3">
                        <input type="text" id="street" class="form-control" required="active" name="cl_street" placeholder="Street">
                        <label class="form-label" for="street">Street<span style="color: red;">*</span></label>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group form-floating form-outline flex-fill mb-0 mt-3">
                        <input type="text" id="brgy" class="form-control" required="active" name="cl_brgy" placeholder="Brgy">
                        <label class="form-label" for="brgy">Barangay<span style="color: red;">*</span></label>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group form-floating form-outline flex-fill mb-0 mt-3">
                        <input type="text" id="city" class="form-control" required="active" name="cl_city" placeholder="City">
                        <label class="form-label" for="city">City<span style="color: red;">*</span></label>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group form-floating form-outline flex-fill mb-0 mt-3">
                        <input type="text" id="contact_no" class="form-control" required="active" name="cl_contactNo" placeholder="Contact Number" >
                        <label class="form-label" for="contact_no">Contact Number<span style="color: red;">*</span></label>
                      </div>
                    </div>

                   </div>
                 </div>
                 <!-- <div class="form-check form-check" style="text-align: left;">
                  <input type="checkbox" class="form-check-input required" id="terms" >
                  <label class="form-check-label" for="terms" style="margin-left: 5px; margin-top: 5px">I agree to the  and conditions.</label>
                  
                </div> -->
                <div class="form-group mt-2">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck" style="margin-left: 5px; margin-top: 5px">
                     I Agree to <a role="button" href="" data-toggle="modal" data-target="#exampleModal">terms</a> and conditions
                    </label>
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback" style="margin-left: -10px !important">
                      You must agree before submitting.
                    </div>
                  </div>
                </div>
                <!-- <div class="invalid-formcheck" style="text-align: left;"></div> -->
                 <div class="btns-group">
                   <a href="#" id="prev-btn" class="btn btn-prev btn-success">Previous</a>
                   <button type="submit" class="btn  btn-success" id="submit-btn">Register </a>
                 </div>
               </div>
               </form>
           </div>
         </div>
       </div>
     </div>
 </section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Privacy Policy for Faith Hope Love</h5>
       </div>
       <div class="modal-body">
         {% include 'clientside/privacy.html' %}
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
         <button type="button" class="btn btn-success" data-bs-dismiss="modal">I Agree</button>
       </div>
     </div>
   </div>
 </div>

<script type="text/javascript">
  //  $(window).on('load', function() {
  //      $('#exampleModal').modal('show');
  //  });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
<script>
  


const prevBtns = document.querySelectorAll(".btn-prev");
const nextBtns = document.querySelectorAll(".btn-next");
const progress = document.getElementById("progress");
const formSteps = document.querySelectorAll(".form-step");
const progressSteps = document.querySelectorAll(".progress-step");

let formStepsNum = 0;

nextBtns.forEach((btn) => {
	btn.addEventListener("click", () => {
		formStepsNum++;
		updateFormSteps();
		updateProgressbar();
	});
});

prevBtns.forEach((btn) => {
	btn.addEventListener("click", () => {
		formStepsNum--;
		updateFormSteps();
		updateProgressbar();
	});
});

function updateFormSteps() {
	formSteps.forEach((formStep) => {
		formStep.classList.contains("form-step-active") &&
			formStep.classList.remove("form-step-active");
	});

	formSteps[formStepsNum].classList.add("form-step-active");
}

function updateProgressbar() {
	progressSteps.forEach((progressStep, idx) => {
		if (idx < formStepsNum + 1) {
			progressStep.classList.add("progress-step-active");
		} else {
			progressStep.classList.remove("progress-step-active");
		}
	});

	const progressActive = document.querySelectorAll(".progress-step-active");

	progress.style.width =
		((progressActive.length - 1) / (progressSteps.length - 1)) * 100 + "%";
}
 </script>
<script type="text/javascript">

  function alertFailure(msg){
    Swal.fire({
    icon: 'error',
    title: 'Registration Failed',
    text: msg
})
  }

  function alertLoginFailure(message) {
    $('#failedLogin').append(
        '<div class="alert alert-danger d-flex align-items-center" role="alert">' + 
          '<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/>' + '</svg>' +
          '<div>' + message + '</div>' + '</div>'
    )
  }

  function sweetSuccess() {
    Swal.fire({
    icon: 'success',
    title: 'Successfully Registered',
    text: '',
    footer: 'Would you like to \t<b><a href="https://clinic-local.herokuapp.com/users">login?</a></b>',
    timer: 15000
  }).then((result) => {
			if (result.isConfirmed) {
				location.reload();
			}
			});
}  
  $(".registerForm").submit(function(e) {
      e.preventDefault();
      var frm = $(".registerForm");
      var data = {};
      $.each(this, function(i, v){
          var input = $(v);
          data[input.attr("name")] = input.val();
          delete data["undefined"];
      });
      $.ajax({
          contentType:"application/json; charset=utf-8",
          type:frm.attr("method"),
          url:frm.attr("action"),
          dataType:'text',
          data: JSON.stringify(data),
          success: function(data) {
            sweetSuccess();
            setTimeout(function() {
              window.location.href = '/login';
            }, 50000);        
          },
          error: function(error) {
            console.log(error);
            resAlert = error.responseText.slice(11,-2),
             //resAlert = 'Please input the required fields!', 
            window.setTimeout(alertFailure(resAlert), 25000);
          }
      })
  });
// password validator 
  // $('#btn-to-nxt-form').on('click',function (){
  //     if ($('#username').val().length == 0 && $('password').val().length == 0 && $('password2').val().length == 0) {
  //         $('.invalid-feedback').show();
  //     }
  //     else {
  //       $('.invalid-feedback').hide();
  //     }
  // });
         $('#prev-btn').on('click', function (){
            document.getElementById('btn-to-nxt-form').disabled = false;
         });


            $('#password, #password2').on('keyup', function () {
                if ($('#password').val() == $('#password2').val() ) {
                  $('#password_invalid2').html('Password Match!').css('color', 'green');
                  $('#password2').css('border-color', 'green');
                }
                
              else {
                // $('#password_invalid2').show();
                  $('#password_invalid2').html('Passwords does not match!!').css('color', 'red');
                  $('#password2').css('border-color', 'red');
                }

                $('#password, #username').on('keyup', function (){
                  if ($('#password').val() == $('#username').val() ) {
                    $('#invalid_username').html('Invalid username!').css('color', 'red');
                    $('#username').css('border-color', 'red');
                }
                });

              });
              $('#username').on('blur', function(){
                if ($('#username').val().length == 0) {
                  $('#invalid_username').innerHTML = "";
                  $('#invalid_username').html('Please input username.').css('color', 'red');
                  $('#username').css('border-color', 'red');
                }
                else{
                  $('#invalid_username').innerHTML = "";
                  $('#invalid_username').html('Username is valid.').css('color', 'green');
                  $('#username').css('border-color', 'green');
                }
              });

              $('#password2').on('blur', function(){
                if ($('#password2').val().length == 0) {
                  $('#password_invalid2').innerHTML = "";
                  $('#password_invalid2').html('Please input password first!').css('color', 'red');
                  $('#password2').css('border-color', 'red');
                }
                
              });
             

                $('#password').on('blur', function () {
                console.log($('#password').val());
                
                if ($('#password').val().length == 0) {
                  $('#password_invalid1').innerHTML = "";
                  $('#password_invalid1').html('Please input password.').css('color', 'red');
                  $('#password').css('border-color', 'red');
                }
                else if($('#password').val().length > 0 && $('#password').val().length < 8){
                  $('#password_invalid1').innerHTML = "";
                  $('#password_invalid1').html('Password must be atleast 8 characters.').css('color', 'red');
                  $('#password').css('border-color', 'red');
                }
           
                else {
                  $('#password_invalid1').innerHTML = "";
                  $('#password_invalid1').html('Password is valid.').css('color', 'green');
                  $('#password').css('border-color', 'green');
                 
                }



              });
              // second page validation 
              // Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();

$( document ).ready(function() {
    // $('#contact_form').validate();

    document.getElementById("message").style.display = "none";

    /* $("#dob").datepicker({
      showOtherMonths: true,
      selectOtherMonths: true,
      changeMonth: true,
      changeYear: true,
      yearRange: "-100:+10",
      format: "yyyy-mm-dd",
      autoclose: true
    }); */
    if ($('#username').val().length == 0 && $('#password').val().length == 0 && $('#password2').val().length == 0) {
        document.getElementById('btn-to-nxt-form').disabled = true;
    }
    $('#submit-btn').on('click',function (){
  if (!$('#terms').is(':checked')) {
     
     document.getElementById('btn-to-nxt-form').disabled = true;
     $('.invalid-formcheck').html('Please agree to the terms and conditions.').css('color', 'red');
     $('#terms').css('border-color', 'red');
   }
   else{
     $('.invalid-formcheck').html('');
     $('#terms').css('border-color', '');
   }
});
    onChange()
   
});


  
function onChange() {
            if ($('#password').val().length > 0 && $('#password2').val().length > 0) {
              
           
              if (document.getElementById('password').value ==
              document.getElementById('password2').value ) {
              document.getElementById('btn-to-nxt-form').disabled = false;

              } else if(document.getElementById('password').value != 0){
                  document.getElementById('btn-to-nxt-form').disabled = true;

              }
            }
          }
var myInput = document.getElementById("password");
var letter = document.getElementById("letter");
var capital = document.getElementById("capital");
var number = document.getElementById("number");
var length = document.getElementById("length");

// When the user clicks on the password field, show the message box
myInput.onfocus = function() {
  document.getElementById("message").style.display = "block";
}

// When the user clicks outside of the password field, hide the message box
myInput.onblur = function() {
  document.getElementById("message").style.display = "none";
}

// When the user starts to type something inside the password field
var errorss = 0;
myInput.onkeyup = function() {
  // Validate lowercase letters
  var lowerCaseLetters = /[a-z]/g;
  if(myInput.value.match(lowerCaseLetters)) {  
    letter.classList.remove("invalid");
    letter.classList.add("valid");
    errorss--;
  } else {
    letter.classList.remove("valid");
    letter.classList.add("invalid");
    errorss = 1;
  }
  
  // Validate capital letters
  var upperCaseLetters = /[A-Z]/g;
  if(myInput.value.match(upperCaseLetters)) {  
    capital.classList.remove("invalid");
    capital.classList.add("valid");
    errorss--;
  } else {
    capital.classList.remove("valid");
    capital.classList.add("invalid");
    errorss = 1;
  }

  // Validate numbers
  var numbers = /[0-9]/g;
  if(myInput.value.match(numbers)) {  
    number.classList.remove("invalid");
    number.classList.add("valid");
    errorss--;
  } else {
    number.classList.remove("valid");
    number.classList.add("invalid");
    errorss =1;
  }
  
  // Validate length
  if(myInput.value.length >= 8) {
    length.classList.remove("invalid");
    length.classList.add("valid");
    errorss--;
  } else {
    length.classList.remove("valid");
    length.classList.add("invalid");
    errorss =1;
  }

  if (errorss < 0) {
      $('#message').css('background-color', '#98fb98');
  }
  else{
    $('#message').css('background-color', '#ffcccb');
  }
}
         
  </script>
  <script src="{{url_for('static', path='/assets/js/sessioncheckers.js')}}"></script>
{% endblock %}