{% extends 'doctorside/doctorBase.html' %}
    
{%block content%}
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb-holder">
                        <h1 class="main-title float-left">Doctor</h1>
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item">Doctor</li>
                            <li class="breadcrumb-item active">Schedules</li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <!-- student tracker table  -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">						
                    <div class="card mb-3">
                        <div class="card-header text-white" style="background-color: rgba(54, 162, 235, 1);">
                            <h3><i class="fa fa-table text-warning" aria-hidden="true"></i> Schedules</h3>
                            
                            <span><a type="button" class="btn btn-warning btn-sm pull-right" data-toggle="modal" data-target="#addSchedule">Add Schedule</a></span>
                        </div>
                            
                        <div class="card-body">
                            <table id="example1"  class="table table-hover table-control no-footer" >
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Timeslot</th>
                                        <th>Capacity</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for schedule in schedules %}
                                    <tr>
                                        <td>{{ schedule.slot_date }}</td>
                                        <td>{{ schedule.slot_start }} - {{ schedule.slot_end }}</td>
                                        <td>{{ schedule.slot_capacity }}</td>
                                        <td>{{ schedule.slot_status }}</td>
                                        <td class="text-white">
                                            <span><a type="button" class="btn btn-warning btn-sm " data-toggle="modal" data-target="#viewSchedule{{ schedule.slot_id }}">View</a></span>
                                            <span><a type="button" class="btn btn-info btn-sm " data-toggle="modal" data-target="#editSchedule{{ schedule.slot_id }}">Edit</a></span>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>							
                        <div class="card-footer small text-muted"> Updated yesterday at 11:59 PM</div>
                    </div><!-- end card-->					
                </div>
            </div>
    <!-- end row -->
        </div>
    </div>
</div>
   <!-- end row -->

    <!-- Add Schedules Modal -->
    <div class="modal fade" id="addSchedule" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add Schedule</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <form action="http://127.0.0.1:8000/slot/new" method="POST" id="scheduleAdd">
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label" for="">Number of Session</label>
                        <input class="form-control" name="slot_number" type="number">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="">Appointment Duration</label>
                        <input class="form-control" name="slot_duration" type="text" id="time">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="">Date</label>
                        <input class="form-control" name="slot_date" type="date">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="">Opening Hours</label>
                        <input class="form-control" name="slot_daystart" type="time">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="">Capacity</label>
                        <input class="form-control" name="slot_capacity" type="number">
                    </div>
                    <!-- <div class="col-md-6">
                        <label class="form-label" for="">Start Time</label>
                        <input class="form-control" type="time">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="">End Time</label>
                        <input class="form-control" type="time">
                    </div> -->
                </div>
                </div>
                <div class="modal-footer">
                <button type="reset" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                </div>
            </form>
        </div>
        </div>
  </div>
  <!-- View Schedules Modal -->
  {% for schedule in schedules %}
    <div class="modal fade" id="viewSchedule{{ schedule.slot_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">View Schedule</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form class="form">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label" for="">Date</label>
                            <input class="form-control" value="{{ schedule.slot_date }}" name="slot_date" type="date">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="">Capacity</label>
                            <input class="form-control" value="{{ schedule.slot_capacity }}" name="slot_capacity" type="number">
                        </div>
                    </div>
                    </div>
                        <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
  </div>
  {% endfor %}
  {% for schedule in schedules %}
    <!-- Edit Schedules Modal -->
    <div class="modal fade" id="editSchedule{{ schedule.slot_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Schedule</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <form action="http://127.0.0.1:8000/slot/{{ schedule.slot_id }}" method="POST" id="scheduleUpdate">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label" for="">Date</label>
                            <input class="form-control" value="{{ schedule.slot_date }}" name="slot_date" type="date">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="">Start</label>
                            <input class="form-control" value="{{ schedule.slot_start }}" name="slot_start" type="time">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="">End</label>
                            <input class="form-control" value="{{ schedule.slot_end }}" name="slot_end" type="time">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="">Capacity</label>
                            <input class="form-control" value="{{ schedule.slot_capacity }}" name="slot_capacity" type="number">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Status</label>
                            <select class="form-control" name="slot_status">
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                        </div>
                    </div>
                    </div>
                        <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
  <!-- Delete Schedule Modal -->
<div class="modal fade" id="deleteSchedule" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Confirm delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete these entry?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-sm btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    function confirm() {
    Swal.fire({
      icon: 'success',
      title: 'Schedule Successfully Added',
      showConfirmButton: true,
      timer: 2000
  })
    }
    function delet() {
        Swal.fire(
        'Schedule Deleted!',
        '',
        'success'
        )
  }
  function edit() {
    Swal.fire({
      icon: 'success',
      title: 'Schedule Successfully Updated',
      showConfirmButton: true,
      timer: 2000
  })
  }
  function sweetError(message) {
    Swal.fire({
    icon: 'error',
    title: 'Try Again',
    text: message,
    footer: ''
  })
  }</script>
    <!-- sidebar script -->
    <script>
		$(document).ready(function() {
			// data-tables
			$('#example1').DataTable();
					
			// counter-up
			$('.counter').counterUp({
				delay: 10,
				time: 600
			});
		} );		
	</script>

     <!-- CUSTOM ACTIVE NAVBAR  -->
     <script>
		$('.navbar-nav .nav-link').click(function(){
		$('.navbar-nav .nav-link').removeClass('active');
		$(this).addClass('active');
		})
	   </script>

       <script type="text/javascript">
        var timepicker = new TimePicker('time', {
            lang: 'en',
            theme: 'dark'
            });
            timepicker.on('change', function(evt) {
            
            var value = (evt.hour || '00') + ':' + (evt.minute || '00');
            evt.element.value = value;

        });

        function windowsOpen(message) {
            window.open("schedules", "_self").reload()
            }
        
          $("#scheduleAdd").submit(function(e) {
              e.preventDefault();
              var frm = $("#scheduleAdd");
              var data = {};
              $.each(this, function(i, v){
                  var input = $(v);
                  data[input.attr("name")] = input.val();
                  delete data["undefined"];
              });
              console.log(data);
              $.ajax({
                  contentType:"application/json; charset=utf-8",
                  type:frm.attr("method"),
                  url:frm.attr("action"),
                  dataType:'text',
                  data: JSON.stringify(data),
                  success: function(data) {
                    confirm();
                    const myTimeout = setTimeout(windowsOpen, 2000);
                  },
                  error: function(error) {
                    resAlert = error.responseText.slice(11,-2)
                    sweetError(resAlert);
                  }
              })
          });

          $("#scheduleUpdate").submit(function(e) {
              e.preventDefault();
              var frm = $("#scheduleUpdate");
              var data = {};
              $.each(this, function(i, v){
                  var input = $(v);
                  data[input.attr("name")] = input.val();
                  delete data["undefined"];
              });
              console.log(data);
              $.ajax({
                  contentType:"application/json",
                  type:frm.attr("method"),
                  url:frm.attr("action"),
                  dataType:'text',
                  data: JSON.stringify(data),
                  success: function(data) {
                    edit();
                    const myTimeout = setTimeout(windowsOpen, 2000);
                  },
                  error: function(error) {
                    resAlert = error.responseText.slice(11,-2)
                    sweetError(resAlert);
                  }
              })
          });
    </script>
{% endblock %}