{% extends 'employeeside/employeeBase.html' %}

{%block content%}
        <!-- End Sidebar -->
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb-holder">
                        <h1 class="main-title float-left">Employee</h1>
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item">Employee</li>
                            <li class="breadcrumb-item active">Appointments</li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- student tracker table  -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">						
                    <div class="card mb-3">
                        <div class="card-header text-white" style="background-color: rgba(54, 162, 235, 1);">
                            <h3><i class="fa fa-table text-warning" aria-hidden="true"></i> Appointments</h3>
                            <span><a type="button" class="btn btn-success btn-sm float-right" data-toggle="modal" data-target="#appointmentModal">Add Appointment</a></span>
                        </div>
                            
                        <div class="card-body">
                            <table id="example1"  class="table table-hover table-control no-footer" >
                                <thead>
                                    <tr>
                                        <th>Appointment ID</th>
                                        <th>Client's Name</th>
                                        <th>Type</th>
                                        <th>Amount</th>
                                        <th>Date</th>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for appointment in appointments %}
                                        {% if appointment.ap_status == 'Unpaid' %}
                                        <tr>
                                            <td>{{ appointment.ap_number }}</td>
                                            <td>{{ appointment.ap_clientName }}</td>
                                            <td>{{ appointment.ap_service }}</td>
                                            <td>{{ appointment.ap_amount }}</td>
                                            <td>{{ appointment.ap_date }}</td>
                                            <td>{{ appointment.ap_startTime }}</td>
                                            <td>{{ appointment.ap_endTime }}</td>
                                            <td>{{ appointment.ap_status }}</td>
                                            <td class="text-white">
                                                <span><a type="button" class="btn btn-warning btn-sm " data-toggle="modal" data-target="#paymentModal{{appointment.ap_id}}">Payment</a></span>
                                            </td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>							
                        <div class="card-footer small text-muted"> Updated yesterday at 11:59 PM</div>
                    </div><!-- end card-->					
                </div>
            </div>
    <!-- end row -->
        </div>
    </div>
</div>
   <!-- end row -->

<!-- Add Appointment Modal -->
<div class="modal fade" id="appointmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="https://fth-clinic.herokuapp.com/appointment/employee" method="POST" id="appointmentForm">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label" for="">Client List</label>
                            <select class="form-control" name="ap_clientID" required>
                                {% for usercred in usercreds %}
                                    {% if usercred.user_type == "Client" %}
                                    <option value="{{usercred.user_id}}">{{usercred.user_email}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" for="">Service Type</label>
                            <select class="form-control" name="ap_serviceType" required>
                                {% for service in services %}
                                <option value="{{service.service_id}}">{{service.service_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" for="">Condition / Symptoms</label>
                            <textarea class="form-control" name="ap_comorbidity" id="" rows="4"></textarea>
                        </div>
                        <div class="col-md-8" id="selectTimeslot">
                            <label class="form-label" for="">Schedule</label>
                            <select class="form-control" name="ap_slotID" required>
                                {% for timeslot in timeslots %}
                                <option value="{{timeslot.slot_id}}">{{timeslot.slot_start}} - {{timeslot.slot_end}} {{timeslot.slot_id}}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                This field is required.
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Appointment Modal -->

  <!-- Payment Modal -->
  {% for appointment in appointments %}
  <div class="modal fade" id="paymentModal{{appointment.ap_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <form action="https://fth-clinic.herokuapp.com/payment/base" method="POST" class="form" id="paypaypay">
                    <div class="row">
                        <input class="form-control" value="{{appointment.ap_id}}" name="payment_appointmentID" type="hidden" id="paymentID" />
                        <div class="col-md-8">
                            <label class="form-label" for="">Payment Method</label>
                            <input class="form-control" type="text" name="payment_mode" value="Cash" id="paymentMode" readonly/>
                        </div>
                        <div class="col-md-8">
                            <label class="form-label" for="">Payment Amount</label>
                            <input class="form-control" name="payment_amount" type="number" id="paymentAmount" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


{%endblock%}

{% block sidebarscripts%}
     <!-- sidebar script -->
     <script>
		$(document).ready(function() {
			// data-tables
			$('#example1').DataTable();
					
			// counter-up
			$('.counter').counterUp({
				delay: 10,
				time: 600
			});
		} );		
	</script>

     <!-- CUSTOM ACTIVE NAVBAR  -->
     <script>
		$('.navbar-nav .nav-link').click(function(){
		$('.navbar-nav .nav-link').removeClass('active');
		$(this).addClass('active');
		})
	</script>
    <script>
        function confirm() {
        Swal.fire({
          icon: 'success',
          title: 'Payment Successful',
          showConfirmButton: true,
          timer: 2000
          })
        }
        function confirmAppointment() {
        Swal.fire({
          icon: 'success',
          title: 'Appointment Successfully Added',
          showConfirmButton: true,
          timer: 2000
      })
        }
        function delet() {
            Swal.fire(
            'Doctor Deleted!',
            '',
            'success'
            )
      }
      function edit() {
            Swal.fire(
            'Saved Changes!',
            '',
            'success'
            )
      }
      function sweetError(message) {
        Swal.fire({
        icon: 'error',
        title: 'Try Again',
        text: message,
        footer: ''
    })
      }
    </script>
    <script type="text/javascript">

        function windowsOpen(message) {
            window.open("", "_self").reload()
            }
        
        //   $("#paypaypay").submit(function(e) {
        //       e.preventDefault();
        //       var frm = $("#paypaypay");
            //   var paymentMode = $("#paymentMode").val();
            //   var paymentAmount = $("#paymentAmount").val();
            //   var paymentID = $("#paymentID").val();
            //   var data = {};
            //   $.each(this, function(i, v){
            //       var input = $(v);
            //       data[input.attr("name")] = input.val();
            //       delete data["undefined"];
            //   });
            //     var server_data = [
            //     {"payment_mode": paymentMode},
            //     {"payment_amount": paymentAmount},
            //     {"payment_appointmentID": paymentID}
            //     ];
            //     $.ajax({
            //     type: "POST",
            //     url: "/payment/base",
            //     data: JSON.stringify(server_data),
            //     contentType: "application/json",
            //     dataType: 'json',
            //     success: function(result) {
            //         console.log(result);
            //     } 
            // })
            // });

            $(document).ready(function() {
            // Submit the form via AJAX when the user clicks "Add Item"
            
            $("#paypaypay").submit(function(event) {
                event.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "https://fth-clinic.herokuapp.com/payment/base",
                    data: $('#paypaypay').serialize(),
                    success: function(data) {
                        console.log(data);
                    }
                });
            });
        });
            function windowsOpen(){
                window.open("base", "_self").reload()
            }
            // $("#appointmentForm").submit(function(e) {
            //     e.preventDefault();
            //     var frm = $("#appointmentForm");
            //     var data = {};
            //     $.each(this, function(i, v){
            //         var input = $(v);
            //         data[input.attr("name")] = input.val();
            //         delete data["undefined"];
            //     });
            //     console.log(data);
            //     $.ajax({
            //         contentType:"application/json",
            //         type:frm.attr("method"),
            //         url:frm.attr("action"),
            //         dataType:'text',
            //         data: JSON.stringify(data),
            //         success: function(data) {
            //             confirmAppointment();
            //             const myTimeout = setTimeout(windowsOpen, 2000);
            //         },
            //         error: function(error) {
            //         resAlert = error.responseText.slice(11,-2);
            //         sweetError(resAlert);
            //         }
            //     })
            // });
            $(function() {
                $('.selectpicker').selectpicker();
            });
    </script>
{% endblock %}