{% extends 'doctorside/doctorBase.html' %}
    
{% block content %}


    <a>PLACEHOLDER</a>


{% endblock %}
{% block sidebarscripts%}
     <!-- sidebar script -->
     <script>
		$(document).ready(function() {
			// data-tables
			$('#example1').DataTable();
					
			// counter-up
			$('.counter').counterUp({
				delay: 10,
				time: 600
			});
		} );		
	</script>

     <!-- CUSTOM ACTIVE NAVBAR  -->
     <script>
		$('.navbar-nav .nav-link').click(function(){
		$('.navbar-nav .nav-link').removeClass('active');
		$(this).addClass('active');
		})
	</script>
{% endblock %}