{% extends 'adminside/adminBase.html' %}
    
{%block content%}
        <!-- End Sidebar -->
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb-holder">
                        <h1 class="main-title float-left">Admin</h1>
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item">Admin</li>
                            <li class="breadcrumb-item active">Appointments</li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- student tracker table  -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">						
                    <div class="card mb-3">
                        <div class="card-header text-white" style="background-color: rgba(54, 162, 235, 1);">
                            <h3><i class="fa fa-table text-warning" aria-hidden="true"></i> Appointments</h3>
                        </div>
                            
                        <div class="card-body">
                            <table id="example1"  class="table table-hover table-control no-footer" >
                                <thead>
                                    <tr>
                                        <th>Client Name</th>
                                        <th>Product Name</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in order_list %}
                                        {% if order.order_status == 'For Pick-up' or 'Paid' %}
                                    <tr>
                                        <td>{{ order.order_user }}</td>
                                        <td>{{ order.order_remarks }}</td>
                                        <td>{{ order.order_quantity }}</td>
                                        <td>{{ order.order_total }}</td> 
                                        <td><a class="btn btn-success btn-sm">{{ order.order_status }}</a></td>
                                        {% if order.order_status != 'Paid' %}
                                        <td class="text-white">
                                            <span><a type="button" class="btn btn-warning btn-sm " data-toggle="modal" data-target="#paymentModal{{order.order_id}}" aria-disabled="true">Payment</a></span>
                                        </td>
                                        {% else %}
                                        <td class="text-white">
                                            <span><button type="button" class="btn btn-warning btn-sm " data-toggle="modal" data-target="#paymentModal{{order.order_id}}" disabled>Payment</button></span>
                                        </td>
                                        {% endif %}
                                    </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>							
                        <div class="card-footer small text-muted"> Updated yesterday at 11:59 PM</div>
                    </div><!-- end card-->					
                </div>
            </div>
    <!-- end row -->
        </div>
    </div>
</div>

 <!-- Payment Modal -->
 {% for order in order_list %}
 <div class="modal fade" id="paymentModal{{order.order_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
       <div class="modal-dialog modal-dialog-centered" role="document">
           <div class="modal-content">
               <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLongTitle">Payment</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
               </button>
               </div>
               <div class="modal-body">
               <form action="http://127.0.0.1:8000/orders/payment/{{ order.order_id }}" id="paymentAccept" method="POST" >
                   <div class="row">
                       <div class="col-md-8">
                           <label class="form-label" for="">Payment Amount</label>
                           <input class="form-control" name="order_payment" type="number" />
                       </div>
                   </div>
                   <div class="modal-footer">
                       <button type="reset" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                       <button type="submit" id="execute" class="btn btn-primary btn-sm">Save changes</button>
                   </div>
               </form>
               </div>
           </div>
       </div>
   </div>
{% endfor %}

   <!-- end row -->
<footer class="footer">
    <span class="text-right">
    Copyright <a target="_blank" href="#">Polytechnic University of the Philippines</a>
    </span>
    <span class="float-right">
    Powered by <a target="_blank" href="https://www.pikeadmin.com"><b>Pike Admin</b></a>
    </span>
</footer>

<script>
    function confirm() {
        Swal.fire({
        icon: 'success',
        title: 'Payment Paid',
        showConfirmButton: true,
        timer: 2000
    })
  }
    function deny() {
        Swal.fire(
          'Cancelled',
          '',
          'success'
        )
    }
    function accept() {
        Swal.fire(
          'Accept!',
          '',
          'success'
        )
    }
    function sweetError(message) {
        Swal.fire({
        icon: 'error',
        title: 'Try Again',
        text: message,
        footer: ''
        })
    }
</script>
{%endblock%}

{% block sidebarscripts%}
     <!-- sidebar script -->
     <script>
		$(document).ready(function() {
			// data-tables
			$('#example1').DataTable();
					
			// counter-up
			$('.counter').counterUp({
				delay: 10,
				time: 600
			});
		} );		
	</script>
     <!-- CUSTOM ACTIVE NAVBAR  -->
     <script>
		$('.navbar-nav .nav-link').click(function(){
		$('.navbar-nav .nav-link').removeClass('active');
		$(this).addClass('active');
		})
	</script>

<script type="text/javascript">
        
    function windowsOpen(message) {
        window.open("accepted", "_self").reload()
    }
    $("#paymentAccept").submit(function(e) {
    e.preventDefault();
    var frm = $("#paymentAccept");
    var data = {};
    $.each(this, function(i, v){
        var input = $(v);
        data[input.attr("name")] = input.val();
        delete data["undefined"];
    });
    console.log(data)
    $.ajax({
        contentType:"application/json",
        type:frm.attr("method"),
        url:frm.attr("action"),
        dataType:'text',
        data: JSON.stringify(data),
        success: function(data) {
          confirm();
          const myTimeout = setTimeout(windowsOpen, 2000);
        },
        error: function(error) {
          resAlert = error.responseText.slice(11,-2)
          sweetError(resAlert);
        }
    })
});
</script>
{% endblock %}