{% extends 'adminside/adminBase.html' %}
    
{%block content%}
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb-holder">
                        <h1 class="main-title float-left">Admin</h1>
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item">Admin</li>
                            <li class="breadcrumb-item active">User's Credential</li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            
                <!-- end row -->
            <!-- student tracker table  -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">						
                    <div class="card mb-3">
                        <div class="card-header text-white" style="background-color: rgba(54, 162, 235, 1);">
                            <h3><i class="fa fa-table text-warning" aria-hidden="true"></i> Doctors</h3>
                            
                            <span><a type="button" class="btn btn-success btn-sm float-right" data-toggle="modal" data-target="#addDoctor">Add Doctor</a></span>
                        </div>
                            
                        <div class="card-body">
                            <table id="example1" class="table table-hover table-control no-footer" >
                                <thead>
                                    <tr>
                                        <th>Doctor Name</th>
                                        <th>Email</th>
                                        <th>Contact #</th>
                                        <th>Address</th>
                                        <th>Action</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for usercred, doctors in doctor %}
                                        {% if usercred.user_status == 'Active' %}
                                    <tr>
                                        <td>{{ doctors.dt_fullName }}</td>
                                        <td>{{ usercred.user_email }}</td>
                                        <td>{{ doctors.dt_contactNo }}</td>
                                        <td>{{ doctors.dt_address }}</td>
                                        <td class="text-white">
                                            <span><a type="button" class="btn btn-info btn-sm " data-toggle="modal" data-target="#editDoctor{{doctors.dt_id}}">Edit</a></span>
                                            <span><a type="button" class="btn btn-danger btn-sm " data-toggle="modal" data-target="#deleteDoctor{{doctors.dt_id}}">Delete</a></span>
                                        </td>
                                    </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>							
                        <div class="card-footer small text-muted"> Updated yesterday at 11:59 PM</div>
                    </div><!-- end card-->					
                </div>
            </div>
    <!-- end row -->
        </div>
    </div>
</div>
   <!-- end row -->

    <!-- Add Doctor Modal -->
    <div class="modal fade " id="addDoctor" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Doctor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <form action="http://127.0.0.1:8000/admin/doctor" method="POST" class="form" id="doctorAdd">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label" for="">Username</label>
                            <input class="form-control" type="text" name="user_username">
                        </div>
                        <div class="col-md-6">
                        <label class="form-label" for="">Password</label>
                        <input class="form-control" type="password" name="user_password">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="">First Name</label>
                            <input class="form-control" type="text" name="dt_firstName">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="">Middle Name</label>
                            <input class="form-control" type="text" name="dt_middleName">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="">Last Name</label>
                            <input class="form-control" type="text" name="dt_lastName">
                        </div>
                        <div class="col-md-2">
                            <label class="form-label" for="">#</label>
                            <input class="form-control" type="text" name="dt_houseNo">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="">Street</label>
                            <input class="form-control" type="text" name="dt_street">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label" for="">Barangay</label>
                            <input class="form-control" type="text" name="dt_brgy">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label" for="">City</label>
                            <input class="form-control" type="text" name="dt_city">
                        </div>
                        <div class="col-md-5">
                            <label class="form-label" for="">Email</label>
                            <input class="form-control" type="email" name="user_email">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="">Contact #</label>
                            <input class="form-control" type="text" name="dt_contactNo">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                    </div>
                </form>
                </div>
                
            </div>
        </div>
    </div>
{% for usercred, doctors in doctor %}
    <!-- Edit Doctor Modal -->
    <div class="modal fade " id="editDoctor{{doctors.dt_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Doctor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <form action="https://faith-hope-love.herokuapp.com/doctor/{{doctors.cl_id}}" method="POST">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label" for="">First Name</label>
                            <input class="form-control" type="text" value="{{doctors.dt_firstName}}" name="dt_firstName">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="">Middle Name</label>
                            <input class="form-control" type="text" value="{{doctors.dt_middleName}}" name="dt_middleName">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="">Last Name</label>
                            <input class="form-control" type="text" value="{{doctors.dt_lastName}}" name="dt_lastName">
                        </div>
                        <div class="col-md-2">
                            <label class="form-label" for="">#</label>
                            <input class="form-control" type="text" value="{{doctors.dt_houseNo}}" name="dt_houseNo">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="">Street</label>
                            <input class="form-control" type="text" value="{{doctors.dt_street}}" name="dt_street">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label" for="">Barangay</label>
                            <input class="form-control" type="text" value="{{doctors.dt_brgy}}" name="dt_brgy">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label" for="">City</label>
                            <input class="form-control" type="text" value="{{doctors.dt_city}}" name="dt_city">
                        </div>
                        <div class="col-md-5">
                            <label class="form-label" for="">Email</label>
                            <input class="form-control" type="email" value="{{usercred.user_email}}" name="user_email">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label" for="">Contact #</label>
                            <input class="form-control" type="text" value="{{doctors.dt_contactNo}}" name="dt_contactNo">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="">Marital Status</label>
                            <select class="form-control" value="{{doctors.dt_maritalStatus}}" name="dt_maritalStatus" id="role">
                                <option value="Single">Single</option>
                                <option value="Married">Married</option>
                                
                            </select>   
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary btn-sm" onclick="edit()">Save changes</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% for usercred, doctors in doctor %}
  <!-- Delete Doctor Modal -->
<div class="modal fade" id="deleteDoctor{{doctors.dt_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Confirm delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to the information of Doctor {{doctors.dt_fullName}}? </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a class="btn btn-danger" href="https://faith-hope-love.herokuapp.com/doctor/deactivate/{{ usercred.user_id }}" onclick="delet()">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<footer class="footer">
    <span class="text-right">
    Copyright <a target="_blank" href="#">Polytechnic University of the Philippines</a>
    </span>
    <span class="float-right">
    Powered by <a target="_blank" href="https://www.pikeAdmin.com"><b>Pike Admin</b></a>
    </span>
</footer>
{% endblock %}
{% block scripts %}
    <script>
        function confirm() {
        Swal.fire({
          icon: 'success',
          title: 'Client Successfully Added',
          showConfirmButton: true,
          timer: 2000
      })
        }
        function delet() {
            Swal.fire(
            'Doctor Deleted!',
            '',
            'success'
            )
      }
      function edit() {
            Swal.fire(
            'Saved Changes!',
            '',
            'success'
            )
      }
      function sweetError(message) {
        Swal.fire({
        icon: 'error',
        title: 'Try Again',
        text: message,
        footer: ''
    })
      }
    </script>

    <!-- sidebar script -->
    <script>
		$(document).ready(function() {
			// data-tables
			$('#example1').DataTable();
					
			// counter-up
			$('.counter').counterUp({
				delay: 10,
				time: 600
			});
		} );		
	</script>
     <!-- CUSTOM ACTIVE NAVBAR  -->
<script>
    $('.navbar-nav .nav-link').click(function(){
    $('.navbar-nav .nav-link').removeClass('active');
    $(this).addClass('active');
    })
   </script>
<script type="text/javascript">

        function windowsOpen(message) {
            window.open("doctor", "_self").reload()
            }
        
          $("#doctorAdd").submit(function(e) {
              e.preventDefault();
              var frm = $("#doctorAdd");
              var data = {};
              $.each(this, function(i, v){
                  var input = $(v);
                  data[input.attr("name")] = input.val();
                  delete data["undefined"];
              });
              $.ajax({
                  contentType:"application/json; charset=utf-8",
                  type:frm.attr("method"),
                  url:frm.attr("action"),
                  dataType:'text',
                  data: JSON.stringify(data),
                  success: function(data) {
                    confirm();
                    const myTimeout = setTimeout(windowsOpen, 2000);
                  },
                  error: function(error) {
                    resAlert = error.responseText.slice(11,-2)
                    sweetError(resAlert);
                  }
              })
          });
    </script>
{% endblock %}