{% extends 'adminside/adminBase.html' %}
    
{%block content%}
        <!-- End Sidebar -->
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb-holder">
                        <h1 class="main-title float-left">Admin</h1>
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item">Admin</li>
                            <li class="breadcrumb-item active">Appointments</li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- student tracker table  -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">						
                    <div class="card mb-3">
                        <div class="card-header text-white" style="background-color: rgba(54, 162, 235, 1);">
                            <h3><i class="fa fa-table text-warning" aria-hidden="true"></i> Appointments</h3>
                        </div>
                            
                        <div class="card-body">
                            <table id="example1"  class="table table-hover table-control no-footer" >
                                <thead>
                                    <tr>
                                        
                                        <th>Appointment ID</th>
                                        <th>Client's Name</th>
                                        <th>Type</th>
                                        <th>Amount</th>
                                        <th>Date</th>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for appointment, service, timeslot in data %}
                                        {% if appointment.ap_status == 'Unpaid' %}
                                        <tr>
                                            <td>{{ appointment.ap_number }}</td>
                                            <td>{{ appointment.ap_clientName }}</td>
                                            <td>{{ appointment.ap_service }}</td>
                                            <td>{{ appointment.ap_amount }}</td>
                                            <td>{{ appointment.ap_date }}</td>
                                            <td>{{ appointment.ap_startTime }}</td>
                                            <td>{{ appointment.ap_endTime }}</td>
                                            <td>{{ appointment.ap_status }}</td>
                                            <td class="text-white">
                                                <span><a type="button" class="btn btn-warning btn-sm " data-toggle="modal" data-target="#paymentModal{{appointment.ap_id}}">Payment</a></span>
                                            </td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>							
                        <div class="card-footer small text-muted"> Updated yesterday at 11:59 PM</div>
                    </div><!-- end card-->					
                </div>
            </div>
    <!-- end row -->
        </div>
    </div>
</div>
   <!-- end row -->


  <!-- Payment Modal -->
  {% for appointment, service, timeslot in data %}
  <div class="modal fade" id="paymentModal{{appointment.ap_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <form action="http://127.0.0.1:8000/admin/appointmentPayment" method="POST" class="form" id="paypaypay">
                    <div class="row">
                        <input class="form-control" value="{{appointment.ap_id}}" name="payment_appointmentID" type="hidden" />
                        <div class="col-md-8">
                            <label class="form-label" for="">Payment Method</label>
                            <input class="form-control" name="payment_mode" value="Cash" readonly/>
                        </div>
                        <div class="col-md-8">
                            <label class="form-label" for="">Payment Amount</label>
                            <input class="form-control" name="payment_amount" type="number" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


{%endblock%}

{% block sidebarscripts%}
     <!-- sidebar script -->
     <script>
		$(document).ready(function() {
			// data-tables
			$('#example1').DataTable();
					
			// counter-up
			$('.counter').counterUp({
				delay: 10,
				time: 600
			});
		} );		
	</script>

     <!-- CUSTOM ACTIVE NAVBAR  -->
     <script>
		$('.navbar-nav .nav-link').click(function(){
		$('.navbar-nav .nav-link').removeClass('active');
		$(this).addClass('active');
		})
	</script>
    <script>
        function confirm() {
        Swal.fire({
          icon: 'success',
          title: 'Payment Successful',
          showConfirmButton: true,
          timer: 2000
          })
        }
        function delet() {
            Swal.fire(
            'Doctor Deleted!',
            '',
            'success'
            )
      }
      function edit() {
            Swal.fire(
            'Saved Changes!',
            '',
            'success'
            )
      }
      function sweetError(message) {
        Swal.fire({
        icon: 'error',
        title: 'Try Again',
        text: message,
        footer: ''
    })
      }
    </script>
    
    <script type="text/javascript">

        function windowsOpen(message) {
            window.open("", "_self").reload()
            }
        
          $("#paypaypay").submit(function(e) {
              e.preventDefault();
              var frm = $("#paypaypay");
              var data = {};
              $.each(this, function(i, v){
                  var input = $(v);
                  data[input.attr("name")] = input.val();
                  delete data["undefined"];
              });
              console.log(data);
              $.ajax({
                  contentType:"application/json",
                  type:frm.attr("method"),
                  url:frm.attr("action"),
                  dataType:'text',
                  data: JSON.stringify(data),
                  success: function(data) {
                    confirm();
                    const myTimeout = setTimeout(windowsOpen, 2000);
                  },
                  error: function(error) {
                    resAlert = error.responseText.slice(11,-2)
                    sweetError(resAlert);
                  }
              })
          });
    </script>
{% endblock %}