{% extends 'adminside/adminBase.html' %}
    
{%block content%}
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb-holder">
                        <h1 class="main-title float-left">Admin</h1>
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item">Admin</li>
                            <li class="breadcrumb-item active">Client</li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            
                <!-- end row -->
                    

          

            <!-- student tracker table  -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">						
                    <div class="card mb-3">
                        <div class="card-header text-white" style="background-color: rgba(54, 162, 235, 1);">
                            <h3><i class="fa fa-table text-warning" aria-hidden="true"></i> Client</h3>
                            Academic Year 2022-2023
                            <span><a type="button" class="btn btn-success btn-sm float-right" data-toggle="modal" data-target="#addClient">Add Client</a></span>
                        </div>
                            
                        <div class="card-body">
                            <table id="example1" class="table table-hover table-control no-footer" >
                                <thead>
                                    <tr>
                                        <th>Client Name</th>
                                        <th>Email</th>
                                        <th>Contact #</th>
                                        <th>Address</th>
                                        <th>Marital Status</th>
                                        <th>Birthdate</th>
                                        <th>Gender</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    {% for usercred, clients in client %}
                                      {% if usercred.user_status == 'Active' %}
                                    <tr>
                                        <td>{{ clients.cl_firstName }} {{ clients.cl_middleName }} {{ clients.cl_lastName }}</td>
                                        <td>{{ usercred.user_email }}</td>
                                        <td>{{ clients.cl_contactNo }}</td>
                                        <td>{{ clients.cl_address }}</td>
                                        <td>{{ clients.cl_maritalStatus }}</td>
                                        <td>{{ clients.cl_birthdate }}</td>
                                        <td>{{ clients.cl_gender }}</td>
                                        <td class="text-white">
                                            <span><a type="button" class="btn btn-info btn-sm " data-toggle="modal" data-target="#editClient{{clients.cl_id}}">Edit</a></span>
                                            <span><a type="button" class="btn btn-danger btn-sm " data-toggle="modal" data-target="#deleteClient{{clients.cl_id}}">Delete</a></span>
                                        </td>
                                    </tr>
                                      {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>							
                        <div class="card-footer small text-muted"> Updated yesterday at 11:59 PM</div>
                    </div><!-- end card-->					
                </div>
            </div>
    <!-- end row -->
        </div>
    </div>
</div>
   <!-- end row -->

<!-- Add Client Modal -->
<div class="modal fade" id="addClient" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Client</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="https://fth-clinic.herokuapp.com/admin/client" method="POST" class="form" id="clientAdd">
            <div class="row">
                <div class="col-md-6">
                  <label class="form-label" for="">Username</label>
                  <input class="form-control" type="text" name="user_username">
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="">Password</label>
                  <input class="form-control" type="password" name="user_password">
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="">First Name</label>
                    <input class="form-control" type="text" name="cl_firstName">
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="">Middle Name</label>
                    <input class="form-control" type="text" name="cl_middleName">
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="">Last Name</label>
                    <input class="form-control" type="text" name="cl_lastName">
                </div>
                <div class="col-md-2">
                    <label class="form-label" for="">#</label>
                    <input class="form-control" type="text" name="cl_houseNo">
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="">Street</label>
                    <input class="form-control" type="text" name="cl_street">
                </div>
                <div class="col-md-3">
                    <label class="form-label" for="">Barangay</label>
                    <input class="form-control" type="text" name="cl_brgy">
                </div>
                <div class="col-md-3">
                    <label class="form-label" for="">City</label>
                    <input class="form-control" type="text" name="cl_city">
                </div>
                <div class="col-md-5">
                    <label class="form-label" for="">Email</label>
                    <input class="form-control" type="email" name="user_email">
                </div>
                <div class="col-md-3">
                    <label class="form-label" for="">Contact #</label>
                    <input class="form-control" type="text" name="cl_contactNo">
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="">Birthdate</label>
                    <input class="form-control" type="date" name="cl_birthdate">
                </div>
               
                <div class="col-md-4">
                    <label class="form-label" for="">Marital Status</label>
                    <select class="form-control" name="cl_maritalStatus">
                        <option value="Single">Single</option>
                        <option value="Married">Married</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label class="form-label">Gender</label>
                    <select class="form-control" name="cl_gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        
                    </select>
                </div>
            </div>
            <div class="modal-footer">
              <button type="reset" class="btn btn-secondary btn-sm" data-dismiss="modal" aria-label="Close">Close</button>
              <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Client Modal -->
{% for usercred, clients in client %}
<div class="modal fade" id="editClient{{clients.cl_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Client</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="https://fth-clinic.herokuapp.com/client/admin/{{clients.cl_id}}" id="clientUpdate" method="POST">
            <div class="row">
              <div class="col-md-4">
                  <label class="form-label" for="">First Name</label>
                  <input class="form-control" type="text" value="{{clients.cl_firstName}}" name="cl_firstName">
              </div>
              <div class="col-md-4">
                  <label class="form-label" for="">Middle Name</label>
                  <input class="form-control" type="text" value="{{clients.cl_middleName}}" name="cl_middleName">
              </div>
              <div class="col-md-4">
                  <label class="form-label" for="">Last Name</label>
                  <input class="form-control" type="text" value="{{clients.cl_lastName}}" name="cl_lastName">
              </div>
              <div class="col-md-2">
                  <label class="form-label" for="">#</label>
                  <input class="form-control" type="text" value="{{clients.cl_houseNo}}" name="cl_houseNo">
              </div>
              <div class="col-md-4">
                  <label class="form-label" for="">Street</label>
                  <input class="form-control" type="text" value="{{clients.cl_street}}" name="cl_street">
              </div>
              <div class="col-md-3">
                  <label class="form-label" for="">Barangay</label>
                  <input class="form-control" type="text" value="{{clients.cl_brgy}}" name="cl_brgy">
              </div>
              <div class="col-md-3">
                  <label class="form-label" for="">City</label>
                  <input class="form-control" type="text" value="{{clients.cl_city}}" name="cl_city">
              </div>
              <div class="col-md-5">
                  <label class="form-label" for="">Email</label>
                  <input class="form-control" type="email" value="{{usercred.user_email}}" name="user_email">
              </div>
              <div class="col-md-3">
                  <label class="form-label" for="">Contact #</label>
                  <input class="form-control" type="text" value="{{clients.cl_contactNo}}" name="cl_contactNo">
              </div>
              <div class="col-md-4">
                  <label class="form-label" for="">Marital Status</label>
                  <select class="form-control" value="{{clients.cl_maritalStatus}}" name="cl_maritalStatus">
                      <option value="Single">Single</option>
                      <option value="Married">Married</option>
                      
                  </select>   
              </div>
            </div>
            <div class="modal-footer">
              <button type="reset" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
  <!-- Delete Client Modal -->
{% for usercred, clients in client %}
<div class="modal fade" id="deleteClient{{clients.cl_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Confirm delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete these entry?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a class="btn btn-danger" href="https://fth-clinic.herokuapp.com/client/deactivate/{{ usercred.user_id }}" onclick="delet()">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}
{% block scripts %}
<script>
  function confirm() {
  Swal.fire({
    icon: 'success',
    title: 'Client Successfully Added',
    showConfirmButton: true,
    timer: 2000
})
  }
  function delet() {
      Swal.fire(
      'Client Deleted!',
      '',
      'success'
      )
}
function edit() {
      Swal.fire(
      'Saved Changes!',
      '',
      'success'
      )
}
function sweetError(message) {
  Swal.fire({
  icon: 'error',
  title: 'Try Again',
  text: message,
  footer: ''
})
}
</script>

<!-- sidebar script -->
<script>
$(document).ready(function() {
// data-tables
$('#example1').DataTable();
    
// counter-up
$('.counter').counterUp({
  delay: 10,
  time: 600
});
} );		
</script>
<!-- CUSTOM ACTIVE NAVBAR  -->
<script>
$('.navbar-nav .nav-link').click(function(){
$('.navbar-nav .nav-link').removeClass('active');
$(this).addClass('active');
})
</script>
<script type="text/javascript">

  function windowsOpen(message) {
      window.open("client", "_self").reload()
      }
  
    $("#clientAdd").submit(function(e) {
        e.preventDefault();
        var frm = $("#clientAdd");
        var data = {};
        $.each(this, function(i, v){
            var input = $(v);
            data[input.attr("name")] = input.val();
            delete data["undefined"];
        });
        $.ajax({
            contentType:"application/json",
            type:frm.attr("method"),
            url:frm.attr("action"),
            dataType:'text',
            data: JSON.stringify(data),
            success: function(data) {
              confirm();
              const myTimeout = setTimeout(windowsOpen, 2000);
            },
            error: function(error) {
              resAlert = error.responseText.slice(11,-2)
              sweetError(resAlert);
            }
        })
    });

    $("#clientUpdate").submit(function(e) {
        e.preventDefault();
        var frm = $("#clientUpdate");
        var data = {};
        $.each(this, function(i, v){
            var input = $(v);
            data[input.attr("name")] = input.val();
            delete data["undefined"];
        });
        console.log(data);
        $.ajax({
            contentType:"application/json",
            type:frm.attr("method"),
            url:frm.attr("action"),
            dataType:'text',
            data: JSON.stringify(data),
            success: function(data) {
              edit();
              const myTimeout = setTimeout(windowsOpen, 2000);
            },
            error: function(error) {
              resAlert = error.responseText.slice(11,-2)
              sweetError(resAlert);
            }
        })
    });
</script>
{%endblock%}