@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');



:root {
  --primary-color: rgb(11, 78, 179);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif , 'Lora';
	margin: 0px;
	padding: 0px;
	font-size: 15px;
}
/* Global Stylings */
label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.width-50 {
  width: 50%;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center;
}

/* Progressbar */
.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 2rem 0 1rem;
  width: 40%;
}

.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
  z-index: -1;
}

.progress {
  background-color: var(--primary-color);
  width: 0%;
  transition: 0.3s;
}

.progress-step {
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #dcdcdc;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;
  color: #666;
}

.progress-step-active {
  background-color: var(--primary-color);
  color: #f3f3f3;
}

/*font**/
.o-label {
  font-size: 14px;
  font-weight: 600;
  color: #797979;
  /* line-height: 18px; */
}
/* Form */
.form {
  width:60%;
  margin: 0 auto;
  border: 1px solid #ececec;
  border-radius: 0.35rem;
  padding: 1.5rem;
}

.form-step {
  display: none;
  transform-origin: top;
  animation: animate 0.5s;
}

.form-step-active {
  display: block;
}

.input-group {
  margin: 2rem 0;
}

@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

/* Button */
.btns-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}



/**** navvvvvvvvvvvvv ****/




a, a:hover, a:focus{
	text-decoration: none;
}
ul{
	margin: 0px;
	padding: 0px;
}
li{
	list-style: none;
}
img{
	max-width: 100%;
}
h1, h2, h3, h4, h5, h6{
	font-weight: 700;

}
h2{
	font-size: 44px;
	margin-bottom: 15px;
    
}
h3{
	font-size: 24px;
	line-height: 32px;
	font-weight: 600;
}

section, .container{
	position: relative;
}
.lead{
font-weight: 500;
}


/*Header*/

header {
    background: var(--bg-primary);
    position: relative;
    width: 100%;
    z-index: 1;
}
header .navbar-expand-lg .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    font-size: 16px;
     position: relative;
    font-weight: 600;
    text-transform: ss ;
    padding: 10px 24px;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #000000
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #23ab70;
}



/*Hero Banner*/

.image{
    height: 500px;
    display: flex;
    position: relative;
    object-fit: cover;


}

.image img{
     
     border-radius: 500%;
     object-fit: cover;
}


.hero-banner{
    
    border-radius: 0rem 0 0 0rem;
	background-color: #ececec;
	padding: 30px 0px;
	min-height: 50px;
	position: relative;
}
.circle-box {
    width: 70%;
    height: 0;
    margin-top: 10px;
    padding-bottom: 70%;
    border-radius: 50%;
  }
.hero-banner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: 0 ;
}
.banner-text-wrap h1{
	font-size:60px;
	font-weight: 700;
}


.banner-text-wrap {
    max-width: 600px;
}

.banner-text-wrap  p {
    margin-bottom: 23px;
    margin-top: 15px;
}


/*Features Section*/


/*About Section*/

section.about-section {
    padding: 100px 0px;
}

.about-media {
    border: 10px solid var(--color-primary);
}



/*Services Section*/


/*reviews Section*/


/*team Section*/





/*Booking Section*/



/*Blog Section*/



/*Footer */

footer {
    background: var(--bg-primary);
    padding: 10px 0px;
    color: rgb(0, 0, 0);
}

ul.footer-address li i {
    position: absolute;
    left: 0;
    top: 10px;
    font-size: 22px;
}

ul.footer-address li {
    position: relative;
    padding-left: 35px;
}

ul.footer-address li a {
    color: rgb(0, 0, 0);
}

.footer-widget h3 {
    margin-bottom: 30px;
}

ul.footer-menu li a {
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin-bottom: 8px;
    display: inline-block;
}




/*Responsive css*/





@media (min-width:992px) and (max-width:1400px){
    
    header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 11px;
    font-size: 14px;
}

}




@media (max-width:991px){
.navbar-toggler-icon {
    background: #FFF;
    padding: 20px;
}

.navbar-toggler:focus {
    box-shadow: none;
}	


.banner-text-wrap h1 {
    font-size: 39px;
}

.hero-banner {
    padding: 137px 0px;
    min-height: auto;
}



footer {
    padding: 40px 10px;
}




	
}



