@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');


:root{
	--bg-primary:#ffffff;
	--color-primary:#000000;
    
}





body{
	font-family: 'Open Sans', sans-serif , 'Lora';
	margin: 0px;
	padding: 0px;
	font-size: 15px;
}
a, a:hover, a:focus{
	text-decoration: none;
}
ul{
	margin: 0px;
	padding: 0px;
}
li{
	list-style: none;
}
img{
	max-width: 100%;
}
h1, h2, h3, h4, h5, h6{
	font-weight: 700;

}
h2{
	color: #111;
    font-family: 'Lora',sans-serif;
    font-weight: 700;
    font-size: 32px;
}
h3{
	font-size: 24px;
	line-height: 32px;
	font-weight: 600;
}
h5 {
    font-family: 'Lora';
    font-weight: 700;
    font-size: 23;
}
section, .container{
	position: relative;
}
.lead{
font-weight: 500;
}


/*Header*/

header {
    background: var(--bg-primary);
    position: relative;
    width: 100%;
    height: -12px;
    z-index: 1;
}

header .navbar-expand-lg .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 600;
    position: relative;
    text-transform: ss;
    padding: 10px 24px;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #000000
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #23ab70;
}



/*Hero Banner*/

.image{
    height: 500px;
    display: flex;
    position: relative;
    object-fit: cover;
}

.image img{
     
     border-radius: 500%;
     object-fit: cover;
}


.hero-banner{
    
    border-radius: 0rem 0 0 0rem;
	background-color: #ececec;
	padding: 15px 0px;
	min-height: 10px;
	position: relative;
}
.circle-box {
    width: 70%;
    height: 0;
    margin-top: 10px;
    padding-bottom: 70%;
    border-radius: 50%;
  }
.hero-banner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: 0;
}
.banner-text-wrap h1{
	font-size:60px;
	font-weight: 700;
}

.btn {
    padding: 8px 24px;
    border-radius: 5px;
    box-shadow: inset 100px 9px 100px 10px #23ab70;
    font-size: 20px;
    font-weight: 700;
    align-self: auto;
    background-color:#006d3a ;
}

.btn-white {
    
    background: #006d3a;
    color: white
}
.banner-text-wrap {
    max-width: 600px;
}

.banner-text-wrap  p {
    margin-bottom: 23px;
    margin-top: 15px;
}


/*Features Section*/
section.features-section {
    margin-top: -90px;
}
.bg1 {
    background: #10285f;
}

.bg2 {
    background: #0c2f7d;
}

.bg3 {
    background: #1148c3;
}

.features-box h3, .features-box p {
    color: #FFF;
}

.features-box {
    padding: 40px;
}



/*About Section*/




/*Services Section*/



/*reviews Section*/

/*team Section*/



/*Booking Section*/



/*Blog Section*/



/*Footer */

footer {
    background: var(--bg-primary);
    padding: 100px 0px;
    color: rgb(0, 0, 0);
}

ul.footer-address li i {
    position: absolute;
    left: 0;
    top: 10px;
    font-size: 22px;
}

ul.footer-address li {
    position: relative;
    padding-left: 35px;
}

ul.footer-address li a {
    color: rgb(0, 0, 0);
}

.footer-widget h3 {
    margin-bottom: 30px;
}

ul.footer-menu li a {
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin-bottom: 8px;
    display: inline-block;
}




/*Responsive css*/





@media (min-width:992px) and (max-width:1400px){
    
    header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 11px;
    font-size: 14px;
}

}




@media (max-width:991px){
.navbar-toggler-icon {
    background: #FFF;
    padding: 20px;
}

.navbar-toggler:focus {
    box-shadow: none;
}	
.reviews-section {
    padding: 40px 0px;
}

.section-title {
    font-size: 26px;
    margin-bottom: 30px;
}

.review-box p {
    font-size: 15px;
}

.banner-text-wrap h1 {
    font-size: 39px;
}
.team-box {
    margin-bottom: 40px;
}
.hero-banner {
    padding: 137px 0px;
    min-height: auto;
}

.booking-section {
    padding: 40px 0px;
}

footer {
    padding: 40px 10px;
}

section.blog-section {
    padding: 40px 0px;
}

section.team-section  {
    padding: 30px 0px;
}

 

section.services-section {
    padding: 30px 0px;
}

.services-box {
    margin-bottom: 20px;
}

.about-media {
    margin-bottom: 30px;
}

.features-box {
    margin-bottom: 30px;
}

section.about-section {
    padding: 30px 0px 40px;
}	
	
	
	
}