<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-3">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">MedicalCare</h2>
            <p>Stress also added to the man's worsening health. It was a frustrating situation...but also very common</p>
          </div>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft ">
            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <div class="ftco-footer-widget mb-4 ml-md-5">
            <h2 class="ftco-heading-2">Quick Links</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-2 d-block">About</a></li>
              <li><a href="#" class="py-2 d-block">Features</a></li>
              <li><a href="#" class="py-2 d-block">Projects</a></li>
              <li><a href="#" class="py-2 d-block">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 pr-md-4">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2"></h2>
            <div class="block-21 mb-4 d-flex">
             
              <div class="text">
              
                <div class="meta">
               
                </div>
              </div>
            </div>
            <div class="block-21 mb-4 d-flex">
          
              <div class="text">
              
                <div class="meta">
                 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Office</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon icon-map-marker"></span>
                    <span class="text">Loc: 24k Mansion Unit 5, 45 Timog Ave. Cor. Sct. Tuazon St., Quezon City</span>
                  </li>
                  <li>
                    <a href="#">
                      <span class="icon icon-phone"></span>
                      <span class="text">+639173290155</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="icon icon-envelope"></span>
                      <span class="text">Jericho.abogado101@gmail.com</span>
                    </a>
                  </li>
                </ul>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">

          <p>

</p>
        </div>
      </div>
    </div>
  </footer>